<div class="page-title pull-left">
  <h2 class="entry-title"><%= t('cruise_search_results') %></h2>
</div>
<ul class="breadcrumbs pull-right">
  <li><a href="#"><%= t('home') %></a></li>
  <li class="active"><%= t('cruise_search_results') %></li>
</ul>