<div class="search-box-wrapper">
  <div class='container'>
    <div class="search-tab-content">
      <%= render :partial => 'spree/cruises/inputs', :locals => {id: id, active: active} %>
    </div>
  </div>
</div>