<section id="content">
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <h4 class="search-results-title"><i class="soap-icon-search"></i><b>1,984</b> results found.</h4>
                    <div class="toggle-container filters-container">
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#price-filter" class="collapsed">Price</a>
                            </h4>
                            <div id="price-filter" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <div id="price-range"></div>
                                    <br />
                                    <span class="min-price-label pull-left"></span>
                                    <span class="max-price-label pull-right"></span>
                                    <div class="clearer"></div>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#rating-filter" class="collapsed">User Rating</a>
                            </h4>
                            <div id="rating-filter" class="panel-collapse collapse filters-container">
                                <div class="panel-content">
                                    <div id="rating" class="five-stars-container editable-rating"></div>
                                    <p class="reviews"><small>2458 REVIEWS</small></p>
                                </div>
                            </div>
                        </div>

                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#cruise-length-filter" class="collapsed">Cruises Length</a>
                            </h4>
                            <div id="cruise-length-filter" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <div id="cruise-length-range" class="slider-color-yellow"></div>
                                    <br />
                                    <span class="min-cruise-length pull-left">0</span>
                                    <span class="max-cruise-length pull-right"></span>
                                    <div class="clearer"></div>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#cruise-line-filter" class="collapsed">Cruise Line</a>
                            </h4>
                            <div id="cruise-line-filter" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <ul class="check-square filters-option">
                                        <li><a href="#">Any<small>(722)</small></a></li>
                                        <li><a href="#">Azamara<small>(982)</small></a></li>
                                        <li><a href="#">Princess cruises<small>(127)</small></a></li>
                                        <li class="active"><a href="#">cunard line<small>(222)</small></a></li>
                                        <li><a href="#">MSC Cruises<small>(158)</small></a></li>
                                        <li><a href="#">aida cruises<small>(439)</small></a></li>
                                        <li><a href="#">celebrity cruises<small>(52)</small></a></li>
                                    </ul>
                                    <a class="button btn-mini">MORE</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#cruise-preference-filter" class="collapsed">Cruise Preference</a>
                            </h4>
                            <div id="cruise-preference-filter" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <ul class="check-square filters-option">
                                        <li><a href="#">buffet restaurant</a></li>
                                        <li><a href="#">Entertainment</a></li>
                                        <li class="active"><a href="#">swimming pools</a></li>
                                        <li class="active"><a href="#">Clubs</a></li>
                                        <li><a href="#">fitness center</a></li>
                                        <li><a href="#">Live Shows</a></li>
                                        <li><a href="#">Duty Free shops</a></li>
                                    </ul>
                                    <a class="button btn-mini">MORE</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#cruise-cabin-type-filter" class="collapsed">Cabin Type</a>
                            </h4>
                            <div id="cruise-cabin-type-filter" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <ul class="check-square filters-option">
                                        <li><a href="#">Inside<small>($620)</small></a></li>
                                        <li><a href="#">Oceanview<small>($982)</small></a></li>
                                        <li class="active"><a href="#">Balcony<small>($127)</small></a></li>
                                        <li class="active"><a href="#">Suites<small>($222)</small></a></li>
                                        <li><a href="#">Junior Suite<small>($158)</small></a></li>
                                        <li><a href="#">Suite w/ Balcony<small>($439)</small></a></li>
                                        <li><a href="#">Outside<small>($52)</small></a></li>
                                    </ul>
                                    <a class="button btn-mini">MORE</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Modify Search</a>
                            </h4>
                            <div id="modify-search-panel" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <form method="post">
                                        <div class="form-group">
                                            <label>destination</label>
                                            <input type="text" class="input-text full-width" placeholder="" value="Paris" />
                                        </div>
                                        <div class="form-group">
                                            <label>Departure date</label>
                                            <div class="datepicker-wrap">
                                                <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Cruise Length</label>
                                            <div class="selector full-width">
                                                <select>
                                                    <option value="">select cruise length</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Cruise line</label>
                                            <div class="selector full-width">
                                                <select>
                                                    <option value="">select cruise line</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn-medium icon-check uppercase full-width">search again</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <%= render partial: 'spree/tours/sort_by' %>
                    <div class="cruise-list listing-style3 cruise">
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Baja Mexico<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$239</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Singapore to Asia<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$358</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Miami to Florida<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$578</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Jacksonville to Florida<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$758</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Malaga to Spain<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$358</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Port Canaveral to Florida<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$578</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">New York to Paris<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$758</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Rome to Africa<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$358</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Savona to Italy<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$578</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Savona to Italy<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$758</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <a href="#" class="uppercase full-width button btn-large">load more listing</a>
                </div>
            </div>
        </div>
    </div>
</section>