<section id="content">
    <div class="container">
        <div id="main">
            <div class="row">
              <%= render partial: 'spree/cruises/filter' %>
                <div class="col-sm-8 col-md-9">
                  <%= render partial: 'spree/cruises/sort_by' %>
                    <div class="cruise-list listing-style3 cruise">
                        <article class="box">
                            <figure class="col-sm-4">
                                <a title="" href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-8">
                                <div class="clearfix">
                                    <h4 class="box-title pull-left">Baja Mexico<small>4 nights</small></h4>
                                    <span class="price pull-right"><small>from</small>$239</span>
                                </div>
                                <div class="character clearfix">
                                    <div class="col-xs-3 cruise-logo">
                                        <img src="http://placehold.it/110x25" alt="" />
                                    </div>
                                    <div class="col-xs-4 date">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Date</span><br>mon, Jan 26, 2014
                                        </div>
                                    </div>
                                    <div class="col-xs-5 departure">
                                        <i class="soap-icon-departure yellow-color"></i>
                                        <div>
                                            <span class="skin-color">Departure</span><br>Los Angeles, miami, Florida
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="review pull-left">
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 60%;"></span>
                                        </div>
                                        <span>270 reviews</span>
                                    </div>
                                    <a href="cruise-detailed.html" class="button btn-small pull-right">select cruise</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <a href="#" class="uppercase full-width button btn-large">load more listing</a>
                </div>
            </div>
        </div>
    </div>
</section>