<div class="cruise-list row image-box listing-style2 add-clearfix">
  <div class="col-sms-6 col-sm-6 col-md-4">
    <article class="box">
      <figure>
        <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
      </figure>
      <div class="details">
        <a title="View Detailed" href="cruise-detailed.html" class="pull-right button btn-mini uppercase">select</a>
        <h4 class="box-title">Miami to Florida</h4>
        <label class="price-wrapper">
          <span class="price-per-unit">$170</span>4 nights
        </label>
      </div>
    </article>
  </div>
</div>
