<h4 class="search-results-title"><i class="soap-icon-search"></i><b>1,984</b> results found.</h4>

<div class="toggle-container filters-container">
  <div class="panel style1 arrow-right">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#price-filter" class="collapsed">Price</a>
    </h4>

    <div id="price-filter" class="panel-collapse collapse">
      <div class="panel-content">
        <div id="price-range"></div>
        <br/>
        <span class="min-price-label pull-left"></span>
        <span class="max-price-label pull-right"></span>

        <div class="clearer"></div>
      </div>
      <!-- end content -->
    </div>
  </div>

  <div class="panel style1 arrow-right">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#rating-filter" class="collapsed">User Rating</a>
    </h4>

    <div id="rating-filter" class="panel-collapse collapse filters-container">
      <div class="panel-content">
        <div id="rating" class="five-stars-container editable-rating"></div>
        <p class="reviews">
          <small>2458 REVIEWS</small>
        </p>
      </div>
    </div>
  </div>

  <div class="panel style1 arrow-right">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#tour-length-filter" class="collapsed">Tours Length</a>
    </h4>

    <div id="tour-length-filter" class="panel-collapse collapse">
      <div class="panel-content">
        <div id="tour-length-range" class="slider-color-yellow"></div>
        <br/>
        <span class="min-tour-length pull-left">0</span>
        <span class="max-tour-length pull-right"></span>

        <div class="clearer"></div>
      </div>
      <!-- end content -->
    </div>
  </div>

  <div class="panel style1 arrow-right">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Modify Search</a>
    </h4>

    <div id="modify-search-panel" class="panel-collapse collapse">
      <div class="panel-content">
        <form method="post">
          <div class="form-group">
            <label>destination</label>
            <input type="text" class="input-text full-width" placeholder="" value="Paris"/>
          </div>
          <div class="form-group">
            <label>Departure date</label>

            <div class="datepicker-wrap">
              <input type="text" class="input-text full-width" placeholder="mm/dd/yy"/>
            </div>
          </div>
          <div class="form-group">
            <label>Tour Length</label>

            <div class="selector full-width">
              <select>
                <option value="">select tour length</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Tour line</label>

            <div class="selector full-width">
              <select>
                <option value="">select tour line</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn-medium icon-check uppercase full-width">search again</button>
        </form>
      </div>
    </div>
  </div>
</div>
