section id="content">
    <div class="container">
        <div id="main">
            <div class="tour-packages row add-clearfix image-box">
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$257</span>
                                <h2 class="caption-title">Paris Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$122</span>
                                <h2 class="caption-title">Rome City</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$483</span>
                                <h2 class="caption-title">Dubai City Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$352</span>
                                <h2 class="caption-title">Hawaii Life Style</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$478</span>
                                <h2 class="caption-title">Rome, Milan</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$257</span>
                                <h2 class="caption-title">Madrid</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$175</span>
                                <h2 class="caption-title">Italy Family</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$305</span>
                                <h2 class="caption-title">Chicago Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$525</span>
                                <h2 class="caption-title">France Family</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$147</span>
                                <h2 class="caption-title">Australia, Rome</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$478</span>
                                <h2 class="caption-title">Florida, L.A</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$254</span>
                                <h2 class="caption-title">Rome, England</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$758</span>
                                <h2 class="caption-title">Miami, Vegas</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$380</span>
                                <h2 class="caption-title">Canada Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$200</span>
                                <h2 class="caption-title">Paris, Milan</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/270x220" alt=""></a>
                            <figcaption>
                                <span class="price">$888</span>
                                <h2 class="caption-title">France, Italy</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
            <a href="#" class="button uppercase full-width btn-large box">load more packages</a>
        </div>
    </div>
</section>