<section id="content">
    <div class="container">
        <div id="main">
            <div class="tour-packages row add-clearfix image-box">
                <div class="col-sm-6">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/570x330" alt=""></a>
                            <figcaption>
                                <span class="price">$257</span>
                                <h2 class="caption-title">Paris Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/570x330" alt=""></a>
                            <figcaption>
                                <span class="price">$122</span>
                                <h2 class="caption-title">Rome City Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <figure>
                            <a href="#"><img src="http://placehold.it/570x330" alt=""></a>
                            <figcaption>
                                <span class="price">$483</span>
                                <h2 class="caption-title">Dubai City Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/570x330" alt=""></a>
                            <figcaption>
                                <span class="price">$352</span>
                                <h2 class="caption-title">Hawaii Life Style</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <figure>
                            <a href="#"><img src="http://placehold.it/570x330" alt=""></a>
                            <figcaption>
                                <span class="price">$478</span>
                                <h2 class="caption-title">Rome, Milan, Madrid</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <figure>
                            <a href="#"><img src="http://placehold.it/570x330" alt=""></a>
                            <figcaption>
                                <span class="price">$175</span>
                                <h2 class="caption-title">Italy Family Beach</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
            <a href="#" class="button uppercase full-width btn-large box">load more packages</a>
        </div>
    </div>
</section>