<section id="content" class="tour">
    <div id="slideshow" class="slideshow-bg full-screen">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="slidebg" style="background-image: url(http://placehold.it/2080x1370);"></div>
                </li>
                <li>
                    <div class="slidebg" style="background-image: url(http://placehold.it/2080x1370);"></div>
                </li>
                <li>
                    <div class="slidebg" style="background-image: url(http://placehold.it/2080x1370);"></div>
                </li>
                <li>
                    <div class="slidebg" style="background-image: url(http://placehold.it/2080x1370);"></div>
                </li>
                <li>
                    <div class="slidebg" style="background-image: url(http://placehold.it/2080x1370);"></div>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="table-wrapper full-width">
                <div class="table-cell">
                    <div class="box">
                        <%= image_tag 'logo' %>
                    </div>
                    <div class="heading box">
                        <h1 class="title">Plan Your Perfect Adventure</h1>
                        <h3 class="sub-title">Get 20% discount on single tour package</h3>
                    </div>
                    <div class="search-box">
                        <form>
                            <div class="row">
                                <div class="col-sm-4 col-md-3 form-group">
                                    <input type="text" class="input-text full-width" placeholder="Rome, Paris, New York...">
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 form-group">
                                    <div class="datepicker-wrap">
                                        <input type="text" name="date_from" class="input-text full-width" placeholder="Departure" />
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-md-2 form-group">
                                    <div class="datepicker-wrap">
                                        <input type="text" name="date_to" class="input-text full-width" placeholder="Arrival" />
                                    </div>
                                </div>
                                <div class="col-md-5 row">
                                    <div class="col-xs-6 col-sm-4 form-group">
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="">Trip Type</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 form-group">
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="">Budget (USD)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <button class="button btn-medium full-width uppercase sky-blue1">Search Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-center">
                        <a href="#" class="button btn-medium sky-blue1 uppercase">Purchase Now</a>
                        &nbsp;&nbsp;
                        <a href="#" class="button btn-medium red uppercase">Latest Tours</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="container">
            <div class="text-center description block">
                <h1>Most Popular Tour Packages</h1>
                <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa idend porta nequetiam</p>
            </div>
            <div class="tour-packages row add-clearfix image-box">
                <div class="col-sm-6 col-md-4">
                    <article class="box animated" data-animation-type="fadeInLeft">
                        <figure>
                            <a href="#"><img src="http://placehold.it/370x220" alt=""></a>
                            <figcaption>
                                <span class="price">$257</span>
                                <h2 class="caption-title">Paris Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4">
                    <article class="box animated" data-animation-type="fadeInDown">
                        <figure>
                            <a href="#"><img src="http://placehold.it/370x220" alt=""></a>
                            <figcaption>
                                <span class="price">$122</span>
                                <h2 class="caption-title">Rome City Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4">
                    <article class="box animated" data-animation-type="fadeInRight">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <figure>
                            <a href="#"><img src="http://placehold.it/370x220" alt=""></a>
                            <figcaption>
                                <span class="price">$483</span>
                                <h2 class="caption-title">Dubai City Tour</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4">
                    <article class="box animated" data-animation-type="fadeInLeft">
                        <figure>
                            <a href="#"><img src="http://placehold.it/370x220" alt=""></a>
                            <figcaption>
                                <span class="price">$352</span>
                                <h2 class="caption-title">Hawaii Life Style</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4">
                    <article class="box animated" data-animation-type="fadeInUp">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <figure>
                            <a href="#"><img src="http://placehold.it/370x220" alt=""></a>
                            <figcaption>
                                <span class="price">$478</span>
                                <h2 class="caption-title">Rome, Milan, Madrid</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4">
                    <article class="box animated" data-animation-type="fadeInRight">
                        <figure>
                            <a href="#"><img src="http://placehold.it/370x220" alt=""></a>
                            <figcaption>
                                <span class="price">$175</span>
                                <h2 class="caption-title">Italy Family Beach</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2>Travel Guide and Tips</h2>
            <div class="tour-guide image-carousel style2 flexslider animated" data-animation="slide" data-item-width="270" data-item-margin="30" data-animation-type="fadeInUp">
                <ul class="slides image-box">
                    <li>
                        <article class="box">
                            <figure>
                                <img src="http://placehold.it/270x160" alt="">
                            </figure>
                            <div class="details">
                                <h4>Baggage Information</h4>
                                <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <img src="http://placehold.it/270x160" alt="">
                            </figure>
                            <div class="details">
                                <h4>Airport Check-in</h4>
                                <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <img src="http://placehold.it/270x160" alt="">
                            </figure>
                            <div class="details">
                                <h4>Traveling with Kids</h4>
                                <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <img src="http://placehold.it/270x160" alt="">
                            </figure>
                            <div class="details">
                                <h4>Special Assistance</h4>
                                <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <img src="http://placehold.it/270x160" alt="">
                            </figure>
                            <div class="details">
                                <h4>Baggage Information</h4>
                                <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section white-bg">
        <div class="container">
            <div class="investor-slideshow image-carousel style2 investor-list animated" data-animation-type="fadeInUp" data-animation="slide" data-item-width="170" data-item-margin="30">
                <ul class="slides">
                    <li>
                        <div class="travelo-box">
                            <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                        </div>
                    </li>
                    <li>
                        <div class="travelo-box">
                            <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                        </div>
                    </li>
                    <li>
                        <div class="travelo-box">
                            <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                        </div>
                    </li>
                    <li>
                        <div class="travelo-box">
                            <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                        </div>
                    </li>
                    <li>
                        <div class="travelo-box">
                            <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                        </div>
                    </li>
                    <li>
                        <div class="travelo-box">
                            <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 animated" data-animation-type="fadeInLeft">
                    <h2>Limited Time Offers</h2>
                    <div class="toggle-container box" id="accordion1">
                        <div class="panel style1">
                            <h5 class="panel-title">
                                <a href="#acc1" data-toggle="collapse" data-parent="#accordion1"><span class="price"><small>From</small>$30</span>Travel Insurance Single Person</a>
                            </h5>
                            <div class="panel-collapse collapse in" id="acc1">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1">
                            <h5 class="panel-title">
                                <a class="collapsed" href="#acc2" data-toggle="collapse" data-parent="#accordion1"><span class="price"><small>From</small>$126</span>Inflight Dinner/ Lunch Deal</a>
                            </h5>
                            <div class="panel-collapse collapse" id="acc2">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1">
                            <h5 class="panel-title">
                                <a class="collapsed" href="#acc3" data-toggle="collapse" data-parent="#accordion1"><span class="price"><small>From</small>$360</span>Luxury Appartment for Family</a>
                            </h5>
                            <div class="panel-collapse collapse" id="acc3">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 animated" data-animation-type="fadeInRight">
                    <h2>What Travelers Say?</h2>
                    <div class="testimonial style1 box">
                        <ul class="slides ">
                            <li>
                                <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                                <div class="author clearfix">
                                    <a href="#"><img src="http://placehold.it/74x74" alt="" width="74" height="74" /></a>
                                    <h5 class="name">Jessica Brown<small>guest</small></h5>
                                </div>
                            </li>
                            <li>
                                <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                                <div class="author clearfix">
                                    <a href="#"><img src="http://placehold.it/74x74" alt="" width="74" height="74" /></a>
                                    <h5 class="name">Lisa Kimberly<small>guest</small></h5>
                                </div>
                            </li>
                            <li>
                                <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                                <div class="author clearfix">
                                    <a href="#"><img src="http://placehold.it/74x74" alt="" width="74" height="74" /></a>
                                    <h5 class="name">Jessica Brown<small>guest</small></h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="global-map-area promo-box parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="content-section description pull-right col-sm-9">
                <div class="table-wrapper hidden-table-sm">
                    <div class="table-cell">
                        <h2 class="m-title">
                            Welcome to World’s No. 1<br /><em>Travel Based Theme <i>Ever Created!</i></em>
                        </h2>
                    </div>
                    <div class="action-section table-cell">
                        <button class="btn-large">Book With Us Now</button>
                    </div>
                </div>
            </div>
            <div class="image-container col-sm-4">
                <img src="http://placehold.it/312x195" alt="" width="312" height="195" />
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2>Last Minute Packages</h2>
            <div class="image-carousel style2 flexslider" data-animation="slide" data-item-width="270" data-item-margin="30">
                <ul class="slides tour-locations">
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" class="hover-effect">
                                    <img src="http://placehold.it/270x160" alt="">
                                </a>
                            </figure>
                            <div class="details">
                                <span class="price">$620</span>
                                <h4 class="box-title">Hawaii City Tour</h4>
                                <hr>
                                <ul class="features check">
                                    <li>City Tour In 3 Hours</li>
                                    <li>Enjoy World Famous Restaurant</li>
                                    <li>Wine Tester Trips</li>
                                    <li>Night Street Life in Downtown </li>
                                </ul>
                                <hr>
                                <div class="text-center">
                                    <div class="time">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <span>01 Nov 2014 - 08 Nov 2014</span>
                                    </div>
                                </div>
                                <a href="#" class="button btn-small full-width">BOOK NOW</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" class="hover-effect">
                                    <img src="http://placehold.it/270x160" alt="">
                                </a>
                            </figure>
                            <div class="details">
                                <span class="price">$534</span>
                                <h4 class="box-title">Italy Family Tour</h4>
                                <hr>
                                <ul class="features check">
                                    <li>City Tour In 3 Hours</li>
                                    <li>Enjoy World Famous Restaurant</li>
                                    <li>Wine Tester Trips</li>
                                    <li>Night Street Life in Downtown </li>
                                </ul>
                                <hr>
                                <div class="text-center">
                                    <div class="time">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <span>01 Nov 2014 - 08 Nov 2014</span>
                                    </div>
                                </div>
                                <a href="#" class="button btn-small full-width">BOOK NOW</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" class="hover-effect">
                                    <img src="http://placehold.it/270x160" alt="">
                                </a>
                            </figure>
                            <div class="details">
                                <span class="price">$718</span>
                                <h4 class="box-title">Chicago Long Tour</h4>
                                <hr>
                                <ul class="features check">
                                    <li>City Tour In 3 Hours</li>
                                    <li>Enjoy World Famous Restaurant</li>
                                    <li>Wine Tester Trips</li>
                                    <li>Night Street Life in Downtown </li>
                                </ul>
                                <hr>
                                <div class="text-center">
                                    <div class="time">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <span>01 Nov 2014 - 08 Nov 2014</span>
                                    </div>
                                </div>
                                <a href="#" class="button btn-small full-width">BOOK NOW</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" class="hover-effect">
                                    <img src="http://placehold.it/270x160" alt="">
                                </a>
                            </figure>
                            <div class="details">
                                <span class="price">$426</span>
                                <h4 class="box-title">Sydney Tour</h4>
                                <hr>
                                <ul class="features check">
                                    <li>City Tour In 3 Hours</li>
                                    <li>Enjoy World Famous Restaurant</li>
                                    <li>Wine Tester Trips</li>
                                    <li>Night Street Life in Downtown </li>
                                </ul>
                                <hr>
                                <div class="text-center">
                                    <div class="time">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <span>01 Nov 2014 - 08 Nov 2014</span>
                                    </div>
                                </div>
                                <a href="#" class="button btn-small full-width">BOOK NOW</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" class="hover-effect">
                                    <img src="http://placehold.it/270x160" alt="">
                                </a>
                            </figure>
                            <div class="details">
                                <span class="price">$620</span>
                                <h4 class="box-title">Florida Tour</h4>
                                <hr>
                                <ul class="features check">
                                    <li>City Tour In 3 Hours</li>
                                    <li>Enjoy World Famous Restaurant</li>
                                    <li>Wine Tester Trips</li>
                                    <li>Night Street Life in Downtown </li>
                                </ul>
                                <hr>
                                <div class="text-center">
                                    <div class="time">
                                        <i class="soap-icon-clock yellow-color"></i>
                                        <span>01 Nov 2014 - 08 Nov 2014</span>
                                    </div>
                                </div>
                                <a href="#" class="button btn-small full-width">BOOK NOW</a>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section global-map-area">
        <div class="container">
            <div class="row add-clearfix">
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box style6 animated small-box" data-animation-type="slideInUp">
                        <i class="soap-icon-friends"></i>
                        <div class="description">
                            <h4>Plan Your Tours</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box style6 animated small-box" data-animation-type="slideInUp" data-animation-delay="0.3">
                        <i class="soap-icon-insurance"></i>
                        <div class="description">
                            <h4>Low Rate Packages</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box style6 animated small-box" data-animation-type="slideInUp" data-animation-delay="0.6">
                        <i class="soap-icon-insurance"></i>
                        <div class="description">
                            <h4>Travel Insurance</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="icon-box style6 animated small-box" data-animation-type="slideInUp" data-animation-delay="0.9">
                        <i class="soap-icon-guideline"></i>
                        <div class="description">
                            <h4>Travel Guidelines</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>