<section id="content">
    <div class="container">
        <div id="main">
            <div class="row add-clearfix image-box style1 tour-locations">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <article class="box">
                        <figure>
                            <a href="#" class="hover-effect">
                                <img src="http://placehold.it/370x220" alt="">
                            </a>
                        </figure>
                        <div class="details">
                            <span class="price">$620</span>
                            <h4 class="box-title">Hawaii City Tour</h4>
                            <hr>
                            <ul class="features check">
                                <li>City Tour In 3 Hours</li>
                                <li>Enjoy World Famous Restaurant</li>
                                <li>Wine Tester Trips</li>
                                <li>Night Street Life in Downtown </li>
                            </ul>
                            <hr>
                            <div class="text-center">
                                <div class="time">
                                    <i class="soap-icon-clock yellow-color"></i>
                                    <span>01 Nov 2014 - 08 Nov 2014</span>
                                </div>
                            </div>
                            <a href="#" class="button btn-small full-width">BOOK NOW</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <article class="box">
                        <figure>
                            <a href="#" class="hover-effect">
                                <img src="http://placehold.it/370x220" alt="">
                            </a>
                        </figure>
                        <div class="details">
                            <span class="price">$534</span>
                            <h4 class="box-title">Italy Family Tour</h4>
                            <hr>
                            <ul class="features check">
                                <li>City Tour In 3 Hours</li>
                                <li>Enjoy World Famous Restaurant</li>
                                <li>Wine Tester Trips</li>
                                <li>Night Street Life in Downtown </li>
                            </ul>
                            <hr>
                            <div class="text-center">
                                <div class="time">
                                    <i class="soap-icon-clock yellow-color"></i>
                                    <span>01 Nov 2014 - 08 Nov 2014</span>
                                </div>
                            </div>
                            <a href="#" class="button btn-small full-width">BOOK NOW</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <article class="box">
                        <figure>
                            <a href="#" class="hover-effect">
                                <img src="http://placehold.it/370x220" alt="">
                            </a>
                        </figure>
                        <div class="details">
                            <span class="price">$718</span>
                            <h4 class="box-title">Chicago Long Tour</h4>
                            <hr>
                            <ul class="features check">
                                <li>City Tour In 3 Hours</li>
                                <li>Enjoy World Famous Restaurant</li>
                                <li>Wine Tester Trips</li>
                                <li>Night Street Life in Downtown </li>
                            </ul>
                            <hr>
                            <div class="text-center">
                                <div class="time">
                                    <i class="soap-icon-clock yellow-color"></i>
                                    <span>01 Nov 2014 - 08 Nov 2014</span>
                                </div>
                            </div>
                            <a href="#" class="button btn-small full-width">BOOK NOW</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <article class="box">
                        <figure>
                            <a href="#" class="hover-effect">
                                <img src="http://placehold.it/370x220" alt="">
                            </a>
                        </figure>
                        <div class="details">
                            <span class="price">$426</span>
                            <h4 class="box-title">Sydney Tour</h4>
                            <hr>
                            <ul class="features check">
                                <li>City Tour In 3 Hours</li>
                                <li>Enjoy World Famous Restaurant</li>
                                <li>Wine Tester Trips</li>
                                <li>Night Street Life in Downtown </li>
                            </ul>
                            <hr>
                            <div class="text-center">
                                <div class="time">
                                    <i class="soap-icon-clock yellow-color"></i>
                                    <span>01 Nov 2014 - 08 Nov 2014</span>
                                </div>
                            </div>
                            <a href="#" class="button btn-small full-width">BOOK NOW</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <article class="box">
                        <figure>
                            <a href="#" class="hover-effect">
                                <img src="http://placehold.it/370x220" alt="">
                            </a>
                        </figure>
                        <div class="details">
                            <span class="price">$620</span>
                            <h4 class="box-title">Florida Tour</h4>
                            <hr>
                            <ul class="features check">
                                <li>City Tour In 3 Hours</li>
                                <li>Enjoy World Famous Restaurant</li>
                                <li>Wine Tester Trips</li>
                                <li>Night Street Life in Downtown </li>
                            </ul>
                            <hr>
                            <div class="text-center">
                                <div class="time">
                                    <i class="soap-icon-clock yellow-color"></i>
                                    <span>01 Nov 2014 - 08 Nov 2014</span>
                                </div>
                            </div>
                            <a href="#" class="button btn-small full-width">BOOK NOW</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <article class="box">
                        <figure>
                            <a href="#" class="hover-effect">
                                <img src="http://placehold.it/370x220" alt="">
                            </a>
                        </figure>
                        <div class="details">
                            <span class="price">$534</span>
                            <h4 class="box-title">Paris Tour Package</h4>
                            <hr>
                            <ul class="features check">
                                <li>City Tour In 3 Hours</li>
                                <li>Enjoy World Famous Restaurant</li>
                                <li>Wine Tester Trips</li>
                                <li>Night Street Life in Downtown </li>
                            </ul>
                            <hr>
                            <div class="text-center">
                                <div class="time">
                                    <i class="soap-icon-clock yellow-color"></i>
                                    <span>01 Nov 2014 - 08 Nov 2014</span>
                                </div>
                            </div>
                            <a href="#" class="button btn-small full-width">BOOK NOW</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <article class="box">
                        <figure>
                            <a href="#" class="hover-effect">
                                <img src="http://placehold.it/370x220" alt="">
                            </a>
                        </figure>
                        <div class="details">
                            <span class="price">$718</span>
                            <h4 class="box-title">Australia Tour</h4>
                            <hr>
                            <ul class="features check">
                                <li>City Tour In 3 Hours</li>
                                <li>Enjoy World Famous Restaurant</li>
                                <li>Wine Tester Trips</li>
                                <li>Night Street Life in Downtown </li>
                            </ul>
                            <hr>
                            <div class="text-center">
                                <div class="time">
                                    <i class="soap-icon-clock yellow-color"></i>
                                    <span>01 Nov 2014 - 08 Nov 2014</span>
                                </div>
                            </div>
                            <a href="#" class="button btn-small full-width">BOOK NOW</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>