<section id="content" class="gray-area">
    <div class="container shortcode">
        <div class="block">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Accordions 01</h2>
                    <div class="toggle-container box" id="accordion1">
                        <div class="panel style1">
                            <h4 class="panel-title">
                                <a href="#acc1" data-toggle="collapse" data-parent="#accordion1">Travel Insurance Single Person</a>
                            </h4>
                            <div class="panel-collapse collapse in" id="acc1">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#acc2" data-toggle="collapse" data-parent="#accordion1">Inflight Dinner/ Lunch Deal</a>
                            </h4>
                            <div class="panel-collapse collapse" id="acc2">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#acc3" data-toggle="collapse" data-parent="#accordion1">Luxury Appartment for Family</a>
                            </h4>
                            <div class="panel-collapse collapse" id="acc3">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <h2>Accordions 02</h2>
                    <div class="toggle-container box" id="accordion2">
                        <div class="panel style2">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#acc4" data-toggle="collapse" data-parent="#accordion2">Our Visions and Missions</a>
                            </h4>
                            <div class="panel-collapse collapse" id="acc4">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden por nequetiam elerisque mi id habitant morbi tristique senectus passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style2">
                            <h4 class="panel-title">
                                <a href="#acc5" data-toggle="collapse" data-parent="#accordion2">Services we provide</a>
                            </h4>
                            <div class="panel-collapse collapse in" id="acc5">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden por nequetiam elerisque mi id habitant morbi tristique senectus passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style2">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#acc6" data-toggle="collapse" data-parent="#accordion2">Travelo Corporate Responsibility</a>
                            </h4>
                            <div class="panel-collapse collapse" id="acc6">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden por nequetiam elerisque mi id habitant morbi tristique senectus passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="block">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Toggles 01</h2>
                    <div class="toggle-container box">
                        <div class="panel style1">
                            <h4 class="panel-title">
                                <a href="#tgg1" data-toggle="collapse">Travel Insurance Single Person</a>
                            </h4>
                            <div class="panel-collapse collapse in" id="tgg1">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#tgg2" data-toggle="collapse">Inflight Dinner/ Lunch Deal</a>
                            </h4>
                            <div class="panel-collapse collapse" id="tgg2">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#tgg3" data-toggle="collapse">Luxury Appartment for Family</a>
                            </h4>
                            <div class="panel-collapse collapse" id="tgg3">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <h2>Toggles 02</h2>
                    <div class="toggle-container box">
                        <div class="panel style2">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#tgg4" data-toggle="collapse">Our Visions and Missions</a>
                            </h4>
                            <div class="panel-collapse collapse" id="tgg4">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden por nequetiam elerisque mi id habitant morbi tristique senectus passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style2">
                            <h4 class="panel-title">
                                <a href="#tgg5" data-toggle="collapse">Services we provide</a>
                            </h4>
                            <div class="panel-collapse collapse in" id="tgg5">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden por nequetiam elerisque mi id habitant morbi tristique senectus passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style2">
                            <h4 class="panel-title">
                                <a class="collapsed" href="#tgg6" data-toggle="collapse">Travelo Corporate Responsibility</a>
                            </h4>
                            <div class="panel-collapse collapse" id="tgg6">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden por nequetiam elerisque mi id habitant morbi tristique senectus passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="block">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Accordions With Image 01</h2>
                    <div class="toggle-container with-image box" id="accordion3" data-image-animation-type="lightSpeedIn" data-image-animation-duration="1">
                        <div class="panel style1">
                            <img src="http://placehold.it/570x160" alt="" width="570" height="160" />
                            <h4 class="panel-title">
                                <a href="#acc7" data-toggle="collapse" data-parent="#accordion3">Book your Bags in Advance</a>
                            </h4>
                            <div class="panel-collapse collapse in" id="acc7">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1">
                            <img src="http://placehold.it/570x160" alt="" width="570" height="160" />
                            <h4 class="panel-title">
                                <a class="collapsed" href="#acc8" data-toggle="collapse" data-parent="#accordion3">Cabin Baggage Allowance</a>
                            </h4>
                            <div class="panel-collapse collapse" id="acc8">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1">
                            <img src="http://placehold.it/570x160" alt="" width="570" height="160" />
                            <h4 class="panel-title">
                                <a class="collapsed" href="#acc9" data-toggle="collapse" data-parent="#accordion3">Checked Baggage Allowance</a>
                            </h4>
                            <div class="panel-collapse collapse" id="acc9">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <h2>Accordions With Image 02</h2>
                    <div class="toggle-container with-image box" id="accordion4" data-image-animation-type="zoomIn" data-image-animation-duration="1">
                        <div class="panel style2">
                            <img src="http://placehold.it/570x160" alt="" width="570" height="160" />
                            <h4 class="panel-title">
                                <a class="collapsed" href="#acc10" data-toggle="collapse" data-parent="#accordion4">Airport Check-in</a>
                            </h4>
                            <div class="panel-collapse collapse" id="acc10">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden por nequetiam elerisque mi id habitant morbi tristique senectus passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style2">
                            <img src="http://placehold.it/570x160" alt="" width="570" height="160" />
                            <h4 class="panel-title">
                                <a href="#acc11" data-toggle="collapse" data-parent="#accordion4">Website Check-in</a>
                            </h4>
                            <div class="panel-collapse collapse in" id="acc11">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden por nequetiam elerisque mi id habitant morbi tristique senectus passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style2">
                            <img src="http://placehold.it/570x160" alt="" width="570" height="160" />
                            <h4 class="panel-title">
                                <a class="collapsed" href="#acc12" data-toggle="collapse" data-parent="#accordion4">Mobile Check-In</a>
                            </h4>
                            <div class="panel-collapse collapse" id="acc12">
                                <div class="panel-content">
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden por nequetiam elerisque mi id habitant morbi tristique senectus passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>
                                </div><!-- end content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>