<section id="content" class="gray-area">
    <div class="container text-left">
        <h1>Hotel Listings</h1>
        <div class="row image-box hotel listing-style1">
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/night</small>$360</span>
                        <h4 class="box-title">Hotel Hilton<small>Paris france</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                            <span class="review">270 reviews</span>
                        </div>
                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                        <div class="action">
                            <a class="button btn-small" href="#">SELECT</a>
                            <a class="button btn-small yellow" href="#">VIEW ON MAP</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/night</small>$120</span>
                        <h4 class="box-title">Forte Do Vale<small>Albufeira</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                            <span class="review">170 reviews</span>
                        </div>
                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                        <div class="action">
                            <a class="button btn-small" href="#">SELECT</a>
                            <a class="button btn-small yellow" href="#">VIEW ON MAP</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/night</small>$322</span>
                        <h4 class="box-title">Gran Canaria<small>spain</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                            <span class="review">485 reviews</span>
                        </div>
                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                        <div class="action">
                            <a class="button btn-small" href="#">SELECT</a>
                            <a class="button btn-small yellow" href="#">VIEW ON MAP</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/night</small>$170</span>
                        <h4 class="box-title">Roosevelt Hotel<small>New york</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                            <span class="review">75 reviews</span>
                        </div>
                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                        <div class="action">
                            <a class="button btn-small" href="#">SELECT</a>
                            <a class="button btn-small yellow" href="#">VIEW ON MAP</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>