<section id="content" class="gray-area">
    <div class="container shortcode">
        <div class="block">
            <h1>Gallery Style 01</h1>
            <div id="gallery_style1" class="flexslider photo-gallery style1" data-animation="slide" data-sync="#carousel_style1">
                <ul class="slides">
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                    <li><img src="http://placehold.it/1170x342" alt="" /></li>
                </ul>
            </div>
            <div id="carousel_style1" class="flexslider image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#gallery_style1">
                <ul class="slides">
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                    <li><img src="http://placehold.it/70x70" alt="" /></li>
                </ul>
            </div>
        </div>

        <div class="block">
            <h1>Gallery Style 02</h1>
            <div class="flexslider photo-gallery style2 block" data-fix-control-nav-pos="1">
                <ul class="slides image-box style9">
                    <li>
                        <article class="box">
                            <figure><img src="http://placehold.it/1170x560" alt=""></figure>
                            <div class="details">
                                <h2 class="box-title"><span class="no-letter-spacing">Beauty of Venice</span><small class="skin-color">island, Beach</small></h2>
                                <p class="description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure><img src="http://placehold.it/1170x560" alt=""></figure>
                            <div class="details">
                                <h2 class="box-title"><span class="no-letter-spacing">Beauty of Venice</span><small class="skin-color">island, Beach</small></h2>
                                <p class="description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure><img src="http://placehold.it/1170x560" alt=""></figure>
                            <div class="details">
                                <h2 class="box-title"><span class="no-letter-spacing">Beauty of Venice</span><small class="skin-color">island, Beach</small></h2>
                                <p class="description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>

        <div class="block">
            <h1>Gallery Style 03</h1>
            <div class="flexslider photo-gallery style3">
                <ul class="slides">
                    <li><img src="http://placehold.it/1170x342" alt=""></li>
                    <li><img src="http://placehold.it/1170x342" alt=""></li>
                    <li><img src="http://placehold.it/1170x342" alt=""></li>
                </ul>
            </div>
        </div>

        <div class="block">
            <h1>Gallery Style 04</h1>
            <div class="flexslider photo-gallery style4">
                <ul class="slides">
                    <li><img src="http://placehold.it/1170x342" alt=""></li>
                    <li><img src="http://placehold.it/1170x342" alt=""></li>
                    <li><img src="http://placehold.it/1170x342" alt=""></li>
                </ul>
            </div>
        </div>

        <div class="block">
            <h1>Carousel Style 01</h1>
            <div id="carousel_style2" class="flexslider image-carousel style2" data-animation="slide" data-item-width="170" data-item-margin="30">
                <ul class="slides">
                    <li>
                        <a href="#" class="hover-effect">
                            <img src="http://placehold.it/170x160" alt="" />
                            <p class="caption">La Degue Island</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hover-effect">
                            <img src="http://placehold.it/170x160" alt="" />
                            <p class="caption">La Degue Island</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hover-effect">
                            <img src="http://placehold.it/170x160" alt="" />
                            <p class="caption">La Degue Island</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hover-effect">
                            <img src="http://placehold.it/170x160" alt="" />
                            <p class="caption">La Degue Island</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hover-effect">
                            <img src="http://placehold.it/170x160" alt="" />
                            <p class="caption">La Degue Island</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hover-effect">
                            <img src="http://placehold.it/170x160" alt="" />
                            <p class="caption">La Degue Island</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="hover-effect">
                            <img src="http://placehold.it/170x160" alt="" />
                            <p class="caption">La Degue Island</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="block">
            <h1>Carousel Style 02</h1>
            <div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
                <ul class="slides image-box style9">
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Majorca<small>(54 reviews)</small></h4>
                                <a href="hotel-list-view.html" title="" class="button">MORE</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Tenerife<small>(524 reviews)</small></h4>
                                <a href="hotel-list-view.html" title="" class="button">MORE</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Costa Blanca<small>(24 reviews)</small></h4>
                                <a href="hotel-list-view.html" title="" class="button">MORE</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Dalaman<small>(12 reviews)</small></h4>
                                <a href="hotel-list-view.html" title="" class="button">MORE</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Algarve<small>(34 reviews)</small></h4>
                                <a href="hotel-list-view.html" title="" class="button">MORE</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Ibiza<small>(64 reviews)</small></h4>
                                <a href="hotel-list-view.html" title="" class="button">MORE</a>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Majorca<small>(54 reviews)</small></h4>
                                <a href="hotel-list-view.html" title="" class="button">MORE</a>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>

        <div class="block">
            <h1>Image Style 01</h1>
            <div class="image-style style1 large-font">
                <ul class="image-block column-3 pull-left clearfix">
                    <li><a href="#" class="middle-block"><img class="middle-item" src="http://placehold.it/80x80" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="http://placehold.it/80x80" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="http://placehold.it/80x80" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="http://placehold.it/80x80" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="http://placehold.it/80x80" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="http://placehold.it/80x80" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="http://placehold.it/80x80" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="http://placehold.it/80x80" alt="" /></a></li>
                    <li><a href="#" class="middle-block"><img class="middle-item" src="http://placehold.it/80x80" alt="" /></a></li>
                </ul>

                <h1 class="title">We’re truely dedicated to make your travel experience as much simple and fun as possible!</h1>
                <p>Bringing you a modern, comfortable, and connected travel experience is one of our highest priorities and that’s
why we continuously try to improve your experience when you book anything with us.
<br /><br />
We really appreciate and welcome any of suggstions you might have for us, so feel free drop us line anytime.</p>

                <div class="clearfix"></div>
            </div>
        </div>
        
        
        <div class="block">
            <h1>Image Style 02</h1>
            <div class="image-style style2 clearfix">
                <div class="row">
                    <div class="col-md-6 col-lg-7">
                        <h2 class="title">Honeymoon Suggestions</h2>
                        <p>Duis condimentum ante hendrerit, sagittis sapien vitae, elementum libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec massa urna, interdum sed nunc eu, pretium fermentum velit. Donec sodales.</p>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <ul class="image-block clearfix" style="">
                            <li style="z-index: 5; left: 50px; top; 10px;">
                                <a href="#" class="middle-block" style="width: 80px; height: 80px;">
                                    <img class="middle-item" src="http://placehold.it/80x80" alt="" />
                                </a>
                            </li>
                            <li style="z-index: 4; left: 180px; top: 100px;">
                                <a href="#" class="middle-block" style="width: 100px; height: 100px;">
                                    <img class="middle-item" src="http://placehold.it/100x100" alt="" />
                                </a>
                            </li>
                            <li style="z-index: 3; left: 250px; top: 20px;">
                                <a href="#" class="middle-block" style="width: 150px; height: 150px;">
                                    <img class="middle-item" src="http://placehold.it/150x150" alt="" />
                                </a>
                            </li>
                            <li style="z-index: 2; left: 100px; top: 0;">
                                <a href="#" class="middle-block" style="width: 160px; height: 160px;">
                                    <img class="middle-item" src="http://placehold.it/160x160" alt="" />
                                </a>
                            </li>
                            <li style="z-index: 1; left: 0; top: 30px;">
                                <a href="#" class="middle-block" style="width: 156px; height: 156px;">
                                    <img class="middle-item" src="http://placehold.it/156x156" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>