<section id="content" class="no-padding">
    <div class="container section">
        <h2>Explore Our Best Destinations</h2>
        <div class="row image-box style10">
            <div class="col-sms-6 col-sm-6 col-md-3">
                <article class="box">
                    <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
                        <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                        <h4 class="box-title">Paris<small>(990 places)</small></h4>
                    </div>
                </article>
            </div>
            <div class="col-sms-6 col-sm-6 col-md-3">
                <article class="box">
                    <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
                        <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                        <h4 class="box-title">London<small>(990 places)</small></h4>
                    </div>
                </article>
            </div>
            <div class="col-sms-6 col-sm-6 col-md-3">
                <article class="box">
                    <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
                        <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                        <h4 class="box-title">New York<small>(990 places)</small></h4>
                    </div>
                </article>
            </div>
            <div class="col-sms-6 col-sm-6 col-md-3">
                <article class="box">
                    <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
                        <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                        <h4 class="box-title">Sydney<small>(990 places)</small></h4>
                    </div>
                </article>
            </div>
            <div class="col-sms-6 col-sm-6 col-md-3">
                <article class="box">
                    <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
                        <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                        <h4 class="box-title">Spain<small>(990 places)</small></h4>
                    </div>
                </article>
            </div>
            <div class="col-sms-6 col-sm-6 col-md-3">
                <article class="box">
                    <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
                        <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                        <h4 class="box-title">England<small>(990 places)</small></h4>
                    </div>
                </article>
            </div>
            <div class="col-sms-6 col-sm-6 col-md-3">
                <article class="box">
                    <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
                        <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                        <h4 class="box-title">Rome<small>(990 places)</small></h4>
                    </div>
                </article>
            </div>
            <div class="col-sms-6 col-sm-6 col-md-3">
                <article class="box">
                    <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
                        <a href="hotel-list-view.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a href="hotel-list-view.html" class="button btn-mini">SEE ALL</a>
                        <h4 class="box-title">Austrilia<small>(990 places)</small></h4>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="content-section description pull-right col-sm-9">
                <div class="table-wrapper hidden-table-sm">
                    <div class="table-cell">
                        <h1 class="m-title animated" data-animation-type="fadeInDown">
                            Welcome to World’s No. 1<br /><em>Travel Based Theme <i>Ever Created!</i></em>
                        </h1>
                    </div>
                    <div class="action-section table-cell">
                        <button class="btn-large animated" data-animation-type="bounce" data-animation-delay="0.5">Book With Us Now</button>
                    </div>
                </div>
            </div>
            <div class="image-container col-sm-4">
                <img src="http://placehold.it/312x195" alt="" width="312" height="195" class="animated" data-animation-type="fadeInUp" />
            </div>
        </div>
    </div>
</section>