<section id="content" class="gray-area">
    <div class="container shortcode">
        <div class="block">
            <h1>Style 01</h1>
            <div class="row image-box style1">
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$490</span>
                            <h4 class="box-title">Atlantis - The Palm<small>Paris</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$170</span>
                            <h4 class="box-title">Hilton Hotel<small>LONDON</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$130</span>
                            <h4 class="box-title">MGM Grand<small>LAS VEGAS</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$290</span>
                            <h4 class="box-title">Crown Casino<small>ASUTRALIA</small></h4>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Style 02</h1>
            <div class="row image-box style2">
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/270x192" alt="" width="270" height="192" /></a>
                        </figure>
                        <div class="details">
                            <h4>Hire Cars</h4>
                            <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id.</p>
                            <a href="#" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/270x192" alt="" width="270" height="192" /></a>
                        </figure>
                        <div class="details">
                            <h4>Cruise Deals</h4>
                            <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id.</p>
                            <a href="#" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/270x192" alt="" width="270" height="192" /></a>
                        </figure>
                        <div class="details">
                            <h4>Things To Do</h4>
                            <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id.</p>
                            <a href="#" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/270x192" alt="" width="270" height="192" /></a>
                        </figure>
                        <div class="details">
                            <h4>Fly in Comfort</h4>
                            <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id.</p>
                            <a href="#" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Style 03</h1>
            <div class="row image-box style3">
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" href="#" title=""><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details text-center">
                            <h4 class="box-title">Greece</h4>
                            <p class="offers-content">(15 deal offers)</p>
                            <div class="five-stars-container" title="4 stars" data-toggle="tooltip" data-placement="bottom">
                                <span class="five-stars" style="width: 80%;"></span>
                            </div>
                            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
                            <a href="#" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" href="#" title=""><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details text-center">
                            <h4 class="box-title">Singapore</h4>
                            <p class="offers-content">(15 deal offers)</p>
                            <div class="five-stars-container" title="4 stars" data-toggle="tooltip" data-placement="bottom">
                                <span class="five-stars" style="width: 80%;"></span>
                            </div>
                            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
                            <a href="#" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" href="#" title=""><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details text-center">
                            <h4 class="box-title">Malaysia</h4>
                            <p class="offers-content">(15 deal offers)</p>
                            <div class="five-stars-container" title="4 stars" data-toggle="tooltip" data-placement="bottom">
                                <span class="five-stars" style="width: 80%;"></span>
                            </div>
                            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
                            <a href="#" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" href="#" title=""><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                        </figure>
                        <div class="details text-center">
                            <h4 class="box-title">Europe</h4>
                            <p class="offers-content">(15 deal offers)</p>
                            <div class="five-stars-container" title="4 stars" data-toggle="tooltip" data-placement="bottom">
                                <span class="five-stars" style="width: 80%;"></span>
                            </div>
                            <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar.</p>
                            <a href="#" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Style 04</h1>
            <div class="row image-box style4">
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" href="#" title=""><img src="http://placehold.it/370x172" alt="" width="370" height="172" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Get Attractions</h4>
                            <a href="#" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" href="#" title=""><img src="http://placehold.it/370x172" alt="" width="370" height="172" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Travel Hot Deals</h4>
                            <a href="#" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" href="#" title=""><img src="http://placehold.it/370x172" alt="" width="370" height="172" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Travelers Stories</h4>
                            <a href="#" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Style 05</h1>
            <div class="row image-box style5">
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/370x160" alt="" width="370" height="160" /></a>
                            <figcaption>
                                <h3 class="caption-title">Singapore</h3>
                                <span>3 activities</span>
                            </figcaption>
                        </figure>
                        <div class="details">
                            <div class="detail">
                                <span class="price"><small>FROM</small>$30</span>
                                <h4 class="box-title"><a href="#">Jurong Bird Park Admission</a></h4>
                            </div>
                            <div class="detail">
                                <span class="price"><small>FROM</small>$120</span>
                                <h4 class="box-title"><a href="#">Night Safari Adventure</a></h4>
                            </div>
                            <div class="detail">
                                <span class="price"><small>FROM</small>$360</span>
                                <h4 class="box-title"><a href="#">Jungle Breakfast with Wildlife</a></h4>
                            </div>
                        </div>
                        
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/370x160" alt="" width="370" height="160" /></a>
                            <figcaption>
                                <h3 class="caption-title">Bangkok</h3>
                                <span>3 activities</span>
                            </figcaption>
                        </figure>
                        <div class="details">
                            <div class="detail">
                                <span class="price"><small>FROM</small>$122</span>
                                <h4 class="box-title"><a href="#">Day Trip to Safari World</a></h4>
                            </div>
                            <div class="detail">
                                <span class="price"><small>FROM</small>$46</span>
                                <h4 class="box-title"><a href="#">Bangkok Cabaret Show by Night</a></h4>
                            </div>
                            <div class="detail">
                                <span class="price"><small>FROM</small>$259</span>
                                <h4 class="box-title"><a href="#">Day Trip to Safari World</a></h4>
                            </div>
                        </div>
                        
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/370x160" alt="" width="370" height="160" /></a>
                            <figcaption>
                                <h3 class="caption-title">HongKong</h3>
                                <span>3 activities</span>
                            </figcaption>
                        </figure>
                        <div class="details">
                            <div class="detail">
                                <span class="price"><small>FROM</small>$376</span>
                                <h4 class="box-title"><a href="#">Half-Day Island Tour</a></h4>
                            </div>
                            <div class="detail">
                                <span class="price"><small>FROM</small>$288</span>
                                <h4 class="box-title"><a href="#">Ocean Park Tour</a></h4>
                            </div>
                            <div class="detail">
                                <span class="price"><small>FROM</small>$59</span>
                                <h4 class="box-title"><a href="#">Lantau Island Sightseeing Tour</a></h4>
                            </div>
                        </div>
                        
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block image-box style6">
            <h1>Style 06</h1>
            <article class="box">
                <figure class="col-md-5">
                    <a href="#" title="" class="middle-block"><img class="middle-item" src="http://placehold.it/476x318" alt="" width="476" height="318" /></a>
                </figure>
                <div class="details col-md-offset-5">
                    <h4 class="box-title">Who We Are?</h4>
                    <p>Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, mattis vitae nisl consequat, tincidunt commodo purus. Maecenas eu risus ac risus tempus iaculis. Duis cursus lectus sed dui imperdiet, id pharetra nunc ullamcorper. Donec luctus blandit metus, sed ultrices ipsum facilisis sit amet. Morbi congue ligula sit amet urna tincidunt.</p>
                </div>
            </article>
            <article class="box">
                <figure class="col-md-5 pull-right middle-block">
                    <a href="#" title=""><img class="middle-item" src="http://placehold.it/476x318" alt="" width="476" height="318" /></a>
                </figure>
                <div class="details col-md-7">
                    <h4 class="box-title">What We Do?</h4>
                    <p>Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, mattis vitae nisl consequat, tincidunt commodo purus. Maecenas eu risus ac risus tempus iaculis. Duis cursus lectus sed dui imperdiet, id pharetra nunc ullamcorper. Donec luctus blandit metus, sed ultrices ipsum facilisis sit amet. Morbi congue ligula sit amet urna tincidunt.</p>
                </div>
            </article>
            <article class="box">
                <figure class="col-md-5">
                    <a href="#" title="" class="middle-block"><img class="middle-item" src="http://placehold.it/489x489" alt="" /></a>
                </figure>
                <div class="details col-md-offset-5">
                    <h4 class="box-title">How Travelo Work?</h4>
                    <p>Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, mattis vitae nisl consequat, tincidunt commodo purus. Maecenas eu risus ac risus tempus iaculis. Duis cursus lectus sed dui imperdiet, id pharetra nunc ullamcorper. Donec luctus blandit metus, sed ultrices ipsum facilisis sit amet. Morbi congue ligula sit amet urna tincidunt.</p>
                </div>
            </article>
        </div>
        
        <div class="block">
            <h1>Style 07</h1>
            <div class="row image-box style7">
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="middle-block">
                            <img src="http://placehold.it/300x120" alt="" class="middle-item" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h4><a href="#">Best Price Guarantee</a></h4>
                            <p>
                                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                     <article class="box">
                        <figure class="middle-block">
                            <img src="http://placehold.it/300x120" alt="" class="middle-item" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h4><a href="#">Travel Insurance</a></h4>
                            <p>
                                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                     <article class="box">
                        <figure class="middle-block">
                            <img src="http://placehold.it/300x120" alt="" class="middle-item" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h4><a href="#">Why Chose Us</a></h4>
                            <p>
                                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                     <article class="box">
                        <figure class="middle-block">
                            <img src="http://placehold.it/300x120" alt="" class="middle-item" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h4><a href="#">Need Help?</a></h4>
                            <p>
                                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Style 08</h1>
            <div class="row image-box style8">
                <div class="col-md-4">
                    <article class="box">
                        <figure class="middle-block">
                            <img src="http://placehold.it/100x172" alt="" class="middle-item" width="100" height="172" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h2 class="box-title">Travel</h2>
                            <p>
                                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="box">
                        <figure class="middle-block">
                            <img src="http://placehold.it/100x172" alt="" class="middle-item" width="100" height="172" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h2 class="box-title">Discover</h2>
                            <p>
                                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="box">
                        <figure class="middle-block">
                            <img src="http://placehold.it/100x172" alt="" class="middle-item" width="100" height="172" />
                            <span class="opacity-wrapper"></span>
                        </figure>
                        <div class="details">
                            <h2 class="box-title">Enjoy</h2>
                            <p>
                                Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Style 09</h1>
            <div class="row image-box style9">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Majorca<small>(54 reviews)</small></h4>
                            <a href="#" title="" class="button">MORE</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Tenerife<small>(524 reviews)</small></h4>
                            <a href="#" title="" class="button">MORE</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Costa Blanca<small>(24 reviews)</small></h4>
                            <a href="#" title="" class="button">MORE</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Dalaman<small>(12 reviews)</small></h4>
                            <a href="#" title="" class="button">MORE</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Algarve<small>(34 reviews)</small></h4>
                            <a href="#" title="" class="button">MORE</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Ibiza<small>(64 reviews)</small></h4>
                            <a href="#" title="" class="button">MORE</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Style 10</h1>
            <div class="row image-box style10">
                <div class="col-md-4">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect"><img src="http://placehold.it/370x132" alt="" width="370" height="132" /></a>
                        </figure>
                        <div class="details">
                            <a class="button" href="">MORE</a>
                            <h4 class="box-title">Driven to save?<br /><small>Save up to 35%</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect"><img src="http://placehold.it/370x132" alt="" width="370" height="132" /></a>
                        </figure>
                        <div class="details">
                            <a class="button" href="">MORE</a>
                            <h4 class="box-title">Room to relax<br /><small>Earn 250 miles</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="box">
                        <figure>
                            <a href="#" title="" class="hover-effect"><img src="http://placehold.it/370x132" alt="" width="370" height="132" /></a>
                        </figure>
                        <div class="details">
                            <a class="button" href="">MORE</a>
                            <h4 class="box-title">Last Minute Car Deals<br /><small>Get best car rental deals</small></h4>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Style 11</h1>
            <div class="row image-box style11">
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/370x160" alt="" width="370" height="160" /></a>
                            <figcaption>
                                <h3 class="caption-title">Boston</h3>
                                <span>Boston hotels</span>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/370x160" alt="" width="370" height="160" /></a>
                            <figcaption>
                                <h3 class="caption-title">Los Angeles</h3>
                                <span>Los Angeles hotels</span>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a href="#" title=""><img src="http://placehold.it/370x160" alt="" width="370" height="160" /></a>
                            <figcaption>
                                <h3 class="caption-title">Washington</h3>
                                <span>Washington hotels</span>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Style 12</h1>
            <div class="row image-box style12">
                <div class="col-sm-6">
                    <article class="box">
                        <figure>
                            <a href="#">
                                <img src="http://placehold.it/120x100" alt="" class="middle-item" width="120" height="100" />
                                <span class="opacity-wrapper"></span>
                            </a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Seat Selection</h4>
                            <p>
                                Whether you would like leg room, a seat with a view or to sit with your family.
                            </p>
                        </div>
                        <div class="action">
                            <span class="price"><small>per seat</small>$30</span>
                            <a class="button btn-small">BOOK NOW</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <figure class="">
                            <a href="#">
                                <img src="http://placehold.it/120x100" alt="" class="middle-item" width="120" height="100" />
                                <span class="opacity-wrapper"></span>
                            </a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Get Insurance</h4>
                            <p>
                                Get covered before you travel!  Whether you are flying around the world..
                            </p>
                        </div>
                        <div class="action">
                            <span class="price"><small>per person</small>$16</span>
                            <a class="button btn-small">BOOK NOW</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <figure class="">
                            <a href="#">
                                <img src="http://placehold.it/120x100" alt="" class="middle-item" width="120" height="100" />
                                <span class="opacity-wrapper"></span>
                            </a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Car Hire</h4>
                            <p>
                                Discounted Car hire rates. Hit the road and explore on your trip with great rates.
                            </p>
                        </div>
                        <div class="action">
                            <span class="price"><small>from</small>$11</span>
                            <a class="button btn-small">BOOK NOW</a>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6">
                    <article class="box">
                        <figure class="">
                            <a href="#">
                                <img src="http://placehold.it/120x100" alt="" class="middle-item" width="120" height="100" />
                                <span class="opacity-wrapper"></span>
                            </a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Sky Shopping</h4>
                            <p>
                                Have a sneak preview at our fabulous range of sky shopping products.
                            </p>
                        </div>
                        <div class="action">
                            <span class="price"><small>from</small>$9</span>
                            <a class="button btn-small">BOOK NOW</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        
    </div>
</section>