<section id="content" class="gray-area">
    <div class="container shortcode">
        <h1>Hotel Listings</h1>
        <div class="row image-box listing-style2">
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Hotel Hilton</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$620</span>avg/night
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Roosevelt Hotel</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$170</span>avg/night
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Forte Do Vale</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$120</span>avg/night
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Gran Canaria</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$322</span>avg/night
                        </label>
                    </div>
                </article>
            </div>
        </div>
        
        <h1>Flight Listings</h1>
        <div class="row image-box listing-style2 flight">
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <span><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></span>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Paris</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$620</span>oneway
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <span><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></span>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Paris</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$170</span>oneway
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <span><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></span>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Paris</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$620</span>oneway
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <span><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></span>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Paris</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$320</span>oneway
                        </label>
                    </div>
                </article>
            </div>
        </div>
        
        <h1>Car Listings</h1>
        <div class="row image-box listing-style2">
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Intermediate</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$90</span>per day
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Compact</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$55</span>per day
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Economy</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$45.39</span>per day
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Mini</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$46</span>per day
                        </label>
                    </div>
                </article>
            </div>
        </div>
        
        <h1>Cruise Listings</h1>
        <div class="row image-box listing-style2">
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Miami to Florida</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$170</span>4 nights
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Jacksonville to Asia</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$169</span>4 nights
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Singapore</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$299</span>4 nights
                        </label>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
                    </figure>
                    <div class="details">
                        <a title="View all" href="" class="pull-right button btn-mini uppercase">select</a>
                        <h4 class="box-title">Hong Kong</h4>
                        <label class="price-wrapper">
                            <span class="price-per-unit">$149</span>4 nights
                        </label>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>