<section id="content" class="gray-area">
    <div class="container shortcode">
        <h1>Hotel Listings</h1>
        <div class="row image-box hotel listing-style1">
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price">
                            <small>avg/night</small>
                            $360
                        </span>
                        <h4 class="box-title">Hotel Hilton<small>Paris france</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                            <span class="review">270 reviews</span>
                        </div>
                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                        <div class="action">
                            <a class="button btn-small" href="#">SELECT</a>
                            <a class="button btn-small yellow" href="#">VIEW ON MAP</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/night</small>$188</span>
                        <h4 class="box-title">Forte Do Vale<small>Albufeira</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                            <span class="review">170 reviews</span>
                        </div>
                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                        <div class="action">
                            <a class="button btn-small" href="#">SELECT</a>
                            <a class="button btn-small yellow" href="#">VIEW ON MAP</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/night</small>$322</span>
                        <h4 class="box-title">Gran Canaria<small>spain</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                            <span class="review">485 reviews</span>
                        </div>
                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                        <div class="action">
                            <a class="button btn-small" href="#">SELECT</a>
                            <a class="button btn-small yellow" href="#">VIEW ON MAP</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/night</small>$170</span>
                        <h4 class="box-title">Roosevelt Hotel<small>New york</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                            <span class="review">75 reviews</span>
                        </div>
                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                        <div class="action">
                            <a class="button btn-small" href="#">SELECT</a>
                            <a class="button btn-small yellow" href="#">VIEW ON MAP</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        
        <h1>Flight Listings</h1>
        <div class="row image-box flight listing-style1">
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <span><img alt="" src="http://placehold.it/270x160"></span>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/person</small>$620</span>
                        <h4 class="box-title">Paris<small>Oneway flight</small></h4>
                        <div class="time">
                            <div class="take-off">
                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                <div>
                                    <span class="skin-color">Take off</span><br />Wed Nov 13<br />7:50 Am
                                </div>
                            </div>
                            <div class="landing">
                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                <div>
                                    <span class="skin-color">landing</span><br />Wed Nov 13<br />7:50 Am
                                </div>
                            </div>
                        </div>
                        <p class="duration"><span class="skin-color">Total Time</span> 13 Hour, 40 minutes</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <span><img alt="" src="http://placehold.it/270x160"></span>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/person</small>$620</span>
                        <h4 class="box-title">Paris<small>Oneway flight</small></h4>
                        <div class="time">
                            <div class="take-off">
                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                <div>
                                    <span class="skin-color">Take off</span><br />Wed Nov 13<br />7:50 Am
                                </div>
                            </div>
                            <div class="landing">
                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                <div>
                                    <span class="skin-color">landing</span><br />Wed Nov 13<br />7:50 Am
                                </div>
                            </div>
                        </div>
                        <p class="duration"><span class="skin-color">Total Time</span> 13 Hour, 40 minutes</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <span><img alt="" src="http://placehold.it/270x160"></span>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/person</small>$620</span>
                        <h4 class="box-title">Paris<small>Oneway flight</small></h4>
                        <div class="time">
                            <div class="take-off">
                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                <div>
                                    <span class="skin-color">Take off</span><br />Wed Nov 13<br />7:50 Am
                                </div>
                            </div>
                            <div class="landing">
                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                <div>
                                    <span class="skin-color">landing</span><br />Wed Nov 13<br />7:50 Am
                                </div>
                            </div>
                        </div>
                        <p class="duration"><span class="skin-color">Total Time</span> 13 Hour, 40 minutes</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <span><img alt="" src="http://placehold.it/270x160"></span>
                    </figure>
                    <div class="details">
                        <span class="price"><small>avg/person</small>$620</span>
                        <h4 class="box-title">Paris<small>Oneway flight</small></h4>
                        <div class="time">
                            <div class="take-off">
                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                <div>
                                    <span class="skin-color">Take off</span><br />Wed Nov 13<br />7:50 Am
                                </div>
                            </div>
                            <div class="landing">
                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                <div>
                                    <span class="skin-color">landing</span><br />Wed Nov 13<br />7:50 Am
                                </div>
                            </div>
                        </div>
                        <p class="duration"><span class="skin-color">Total Time</span> 13 Hour, 40 minutes</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        
        <h1>Car Listings</h1>
        <div class="row image-box car listing-style1">
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#"><img alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>per day</small>$45.39</span>
                        <h4 class="box-title">Economy Car<small>bmw mini</small></h4>
                        <div class="amenities">
                            <ul>
                                <li><i class="soap-icon-user circle"></i>4</li>
                                <li><i class="soap-icon-suitcase circle"></i>3</li>
                                <li><i class="soap-icon-aircon circle"></i>AC</li>
                                <li><i class="soap-icon-fueltank circle"></i>12</li>
                                <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                            </ul>
                        </div>
                        <p class="mile"><span class="skin-color">Mileage:</span> up to 300 miles</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#"><img alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>per day</small>$40</span>
                        <h4 class="box-title">Intermediate Elite<small>Audi A3 cabriole</small></h4>
                        <div class="amenities">
                            <ul>
                                <li><i class="soap-icon-user circle"></i>4</li>
                                <li><i class="soap-icon-suitcase circle"></i>3</li>
                                <li><i class="soap-icon-aircon circle"></i>AC</li>
                                <li><i class="soap-icon-fueltank circle"></i>12</li>
                                <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                            </ul>
                        </div>
                        <p class="mile"><span class="skin-color">Mileage:</span> up to 3000 miles</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#"><img alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>per day</small>$62.99</span>
                        <h4 class="box-title">Luxury Elite<small>Bmw 5 series</small></h4>
                        <div class="amenities">
                            <ul>
                                <li><i class="soap-icon-user circle"></i>4</li>
                                <li><i class="soap-icon-suitcase circle"></i>3</li>
                                <li><i class="soap-icon-aircon circle"></i>AC</li>
                                <li><i class="soap-icon-fueltank circle"></i>12</li>
                                <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                            </ul>
                        </div>
                        <p class="mile"><span class="skin-color">Mileage:</span> up to 3000 miles</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#"><img alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>per day</small>$38</span>
                        <h4 class="box-title">Full Size<small>Holden sv6</small></h4>
                        <div class="amenities">
                            <ul>
                                <li><i class="soap-icon-user circle"></i>4</li>
                                <li><i class="soap-icon-suitcase circle"></i>3</li>
                                <li><i class="soap-icon-aircon circle"></i>AC</li>
                                <li><i class="soap-icon-fueltank circle"></i>12</li>
                                <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                            </ul>
                        </div>
                        <p class="mile"><span class="skin-color">Mileage:</span> up to 12000 miles</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        
        <h1>Cruise Listings</h1>
        <div class="row image-box style3 cruise listing-style1">
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>from</small>$239</span>
                        <h4 class="box-title">Baja Mexico<small>4 nights</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="3 stars"><span style="width: 60%;" class="five-stars"></span></div>
                            <span class="review">27 reviews</span>
                        </div>
                        <div class="row time">
                            <div class="date col-xs-6">
                                <i class="soap-icon-clock yellow-color"></i>
                                <div>
                                    <span class="skin-color">Date</span><br />Jan 26, 2014
                                </div>
                            </div>
                            <div class="departure col-xs-6">
                                <i class="soap-icon-departure yellow-color"></i>
                                <div>
                                    <span class="skin-color">Departure</span><br />Los Angeles
                                </div>
                            </div>
                        </div>
                        <p class="description fourty-space">Save up to <span class="skin-color">20%</span> in grand suite</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>from</small>$299</span>
                        <h4 class="box-title">Miami to Florida<small>4 nights</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="3 stars"><span style="width: 60%;" class="five-stars"></span></div>
                            <span class="review">27 reviews</span>
                        </div>
                        <div class="row time">
                            <div class="date col-xs-6">
                                <i class="soap-icon-clock yellow-color"></i>
                                <div>
                                    <span class="skin-color">Date</span><br />Jan 26, 2014
                                </div>
                            </div>
                            <div class="departure col-xs-6">
                                <i class="soap-icon-departure yellow-color"></i>
                                <div>
                                    <span class="skin-color">Departure</span><br />Los Angeles
                                </div>
                            </div>
                        </div>
                        <p class="description fourty-space">Save up to <span class="skin-color">20%</span> in grand suite</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>from</small>$578</span>
                        <h4 class="box-title">Jacksonville to Asia<small>4 nights</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="3 stars"><span style="width: 60%;" class="five-stars"></span></div>
                            <span class="review">27 reviews</span>
                        </div>
                        <div class="row time">
                            <div class="date col-xs-6">
                                <i class="soap-icon-clock yellow-color"></i>
                                <div>
                                    <span class="skin-color">Date</span><br />Jan 26, 2014
                                </div>
                            </div>
                            <div class="departure col-xs-6">
                                <i class="soap-icon-departure yellow-color"></i>
                                <div>
                                    <span class="skin-color">Departure</span><br />Los Angeles
                                </div>
                            </div>
                        </div>
                        <p class="description fourty-space">Save up to <span class="skin-color">20%</span> in grand suite</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-3">
                <article class="box">
                    <figure>
                        <a href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                    </figure>
                    <div class="details">
                        <span class="price"><small>from</small>$149</span>
                        <h4 class="box-title">Hong Kong<small>4 nights</small></h4>
                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="3 stars"><span style="width: 60%;" class="five-stars"></span></div>
                            <span class="review">27 reviews</span>
                        </div>
                        <div class="row time">
                            <div class="date col-xs-6">
                                <i class="soap-icon-clock yellow-color"></i>
                                <div>
                                    <span class="skin-color">Date</span><br />Jan 26, 2014
                                </div>
                            </div>
                            <div class="departure col-xs-6">
                                <i class="soap-icon-departure yellow-color"></i>
                                <div>
                                    <span class="skin-color">Departure</span><br />Los Angeles
                                </div>
                            </div>
                        </div>
                        <p class="description fourty-space">Save up to <span class="skin-color">20%</span> in grand suite</p>
                        <div class="action">
                            <a class="button btn-small full-width" href="#">SELECT NOW</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        
    </div>
</section>