<section id="content" class="gray-area">
    <div class="container shortcode">
        <h1>4 Column White Tables</h1>
        <div class="row block">
            <div class="col-sm-6 col-md-3">
                <div class="pricing-table white box">
                    <div class="header clearfix">
                        <i class="soap-icon-user circle green-color"></i>
                        <h4 class="box-title">Individual<small>for individuals</small></h4>
                        <span class="price"><small>monthly</small>$30</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-small uppercase full-width">select this plan</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="pricing-table white box">
                    <div class="header clearfix">
                        <i class="soap-icon-friends circle yellow-color"></i><h4 class="box-title"><span>Group<small>for groups</small></span></h4>
                        <span class="price"><small>monthly</small>$60</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-small uppercase full-width yellow">select this plan</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="pricing-table white box">
                    <div class="header clearfix">
                        <i class="soap-icon-suitcase circle blue-color"></i><h4 class="box-title"><span>Corporate<small>for SME’s</small></span></h4>
                        <span class="price"><small>monthly</small>$120</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-small uppercase full-width sky-blue1">select this plan</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="pricing-table white box">
                    <div class="header clearfix">
                        <i class="soap-icon-hotel-1 circle red-color"></i><h4 class="box-title"><span>Ultimate<small>for big companies</small></span></h4>
                        <span class="price"><small>monthly</small>$240</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-small uppercase full-width red">select this plan</button>
                </div>
            </div>
        </div>
            
        <h1>4 Column Colored Tables</h1>
        <div class="row block">
            <div class="col-sm-6 col-md-3">
                <div class="pricing-table green box">
                    <div class="header clearfix">
                        <i class="soap-icon-user circle white-color"></i><h4 class="box-title"><span>Individual<small>for individuals</small></span></h4>
                        <span class="price"><small>monthly</small>$30</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-small uppercase full-width white green-color">select this plan</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="pricing-table yellow box">
                    <div class="header clearfix">
                        <i class="soap-icon-friends circle white-color"></i><h4 class="box-title"><span>Group<small>for groups</small></span></h4>
                        <span class="price"><small>monthly</small>$30</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-small uppercase full-width white yellow-color">select this plan</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="pricing-table blue box">
                    <div class="header clearfix">
                        <i class="soap-icon-suitcase circle white-color"></i><h4 class="box-title"><span>Corporate<small>for sme’s</small></span></h4>
                        <span class="price"><small>monthly</small>$30</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-small uppercase full-width white blue-color">select this plan</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="pricing-table red box">
                    <div class="header clearfix">
                        <i class="soap-icon-hotel-1 circle white-color"></i><h4 class="box-title"><span>Ultimate<small>for big companies</small></span></h4>
                        <span class="price"><small>monthly</small>$30</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-small uppercase full-width white red-color">select this plan</button>
                </div>
            </div>
        </div>
            
        <h1>3 Column White Tables</h1>
        <div class="row block">
            <div class="col-sm-4">
                <div class="pricing-table white box">
                    <div class="header clearfix">
                        <i class="soap-icon-user circle green-color"></i><h4 class="box-title"><span>Individual<small>for individuals</small></span></h4>
                        <span class="price"><small>monthly</small>$30</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-medium uppercase full-width">select this plan</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing-table white box">
                    <div class="header clearfix">
                        <i class="soap-icon-friends circle yellow-color"></i><h4 class="box-title"><span>Group<small>for groups</small></span></h4>
                        <span class="price"><small>monthly</small>$60</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-medium uppercase full-width yellow">select this plan</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing-table white box">
                    <div class="header clearfix">
                        <i class="soap-icon-suitcase circle blue-color"></i><h4 class="box-title"><span>Corporate<small>for SME’s</small></span></h4>
                        <span class="price"><small>monthly</small>$120</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-medium uppercase full-width sky-blue1">select this plan</button>
                </div>
            </div>
        </div>
        
        <h1>3 Column Colored Tables</h1>
        <div class="row block">
            <div class="col-sm-4">
                <div class="pricing-table green box">
                    <div class="header clearfix">
                        <i class="soap-icon-user circle white-color"></i><h4 class="box-title"><span>Individual<small>for individuals</small></span></h4>
                        <span class="price"><small>monthly</small>$30</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-medium uppercase full-width white green-color">select this plan</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing-table yellow box">
                    <div class="header clearfix">
                        <i class="soap-icon-friends circle white-color"></i><h4 class="box-title"><span>Group<small>for groups</small></span></h4>
                        <span class="price"><small>monthly</small>$30</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-medium uppercase full-width white yellow-color">select this plan</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing-table blue box">
                    <div class="header clearfix">
                        <i class="soap-icon-suitcase circle white-color"></i><h4 class="box-title"><span>Corporate<small>for sme’s</small></span></h4>
                        <span class="price"><small>monthly</small>$30</span>
                    </div>
                    <p class="description">
                        Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.
                    </p>
                    <ul class="check-square features">
                        <li>online booking</li>
                        <li>advanced options</li>
                        <li>create profile</li>
                        <li>manage bookings</li>
                        <li>map search</li>
                        <li>group bookings</li>
                    </ul>
                    <button class="btn-medium uppercase full-width white blue-color">select this plan</button>
                </div>
            </div>
        </div>
    </div>
</section>