        <section id="content" class="gray-area">
            <div class="container">
                <div id="main" class="row">
                    <div class="col-md-4">
                        <div class="style-changer">
                            <div class="style-changer-header">
                                <a href="#" class="style-toggle">
                                    <i class="fa fa-gear"></i>
                                </a>
                                <h2 class="style-main-title">Customize Travelo</h2>
                            </div>
                            <div class="style-chagner-main">
                                <label>header style</label>
                                <div class="selector">
                                    <select class="full-width" name="header-style">
                                        <option value="">please select</option>
                                    </select>
                                </div>
                                <label>inner start style</label>
                                <div class="selector">
                                    <select class="full-width" name="inner-start-style">
                                        <option value="">please select</option>
                                    </select>
                                </div>
                                <label>search style</label>
                                <div class="selector">
                                    <select class="full-width" name="search-style">
                                        <option value="">please select</option>
                                    </select>
                                </div>
                                <label>footer style</label>
                                <div class="selector">
                                    <select class="full-width" name="footer-style">
                                        <option value="">please select</option>
                                    </select>
                                </div>
                                <label>design skins</label>
                                <ul class="design-skins column-5 clearfix">
                                    <li class="active light-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="purple"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="orange"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="light-orange"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="sea-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="sky-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="dark-orange"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="dark-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="light-yellow"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="red"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                </ul>
                                <button class="full-width btn-medium uppercase">apply settings</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="style-changer dark">
                            <div class="style-changer-header">
                                <a href="#" class="style-toggle">
                                    <i class="fa fa-gear"></i>
                                </a>
                                <h2 class="style-main-title">Customize Travelo</h2>
                            </div>
                            <div class="style-chagner-main">
                                <label>header style</label>
                                <div class="selector">
                                    <select class="full-width" name="header-style">
                                        <option value="">please select</option>
                                    </select>
                                </div>
                                <label>inner start style</label>
                                <div class="selector">
                                    <select class="full-width" name="inner-start-style">
                                        <option value="">please select</option>
                                    </select>
                                </div>
                                <label>search style</label>
                                <div class="selector">
                                    <select class="full-width" name="search-style">
                                        <option value="">please select</option>
                                    </select>
                                </div>
                                <label>footer style</label>
                                <div class="selector">
                                    <select class="full-width" name="footer-style">
                                        <option value="">please select</option>
                                    </select>
                                </div>
                                <label>design skins</label>
                                <ul class="design-skins column-5 clearfix">
                                    <li class="active light-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="purple"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="orange"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="light-orange"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="sea-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="sky-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="dark-orange"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="dark-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="light-yellow"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                    <li class="red"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                                </ul>
                                <button class="full-width btn-medium uppercase">apply settings</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>