<section id="content" class="gray-area">
    <div class="container shortcode">
        <div class="block">
            <div class="row">
                <div class="col-md-6">
                    <h2>Tabs 01</h2>
                    <div class="tab-container box">
                        <ul class="tabs">
                            <li><a href="#satisfied-customers" data-toggle="tab">Satisfied customers</a></li>
                            <li class="active"><a href="#tours-suggestions" data-toggle="tab">tours suggestions</a></li>
                            <li><a href="#careers" data-toggle="tab">Careers</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade" id="satisfied-customers">
                                <img src="http://placehold.it/140x140" alt="" class="pull-left" />
                                <h4>Ocean Park Tour</h4>
                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Vivamus elementum, ligula vehicula enenatis semper, magna lorem aliquet lacus, in euismod sem lectus. ligula vehicula enenatis semper, magna lorem aliquet lacus euismod sem velit ve.
<br /><br />
Ligula vehicula enenatis semper, magna lorem aliquet lacusin ante dapibus dictum. fugats vitaes nemo minima rerums unsers sadips amets.</p>
                            </div>
                            <div class="tab-pane fade in active" id="tours-suggestions">
                                <img src="http://placehold.it/140x140" alt="" class="pull-left" />
                                <h4>Ocean Park Tour</h4>
                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Vivamus elementum, ligula vehicula enenatis semper, magna lorem aliquet lacus, in euismod sem lectus. ligula vehicula enenatis semper, magna lorem aliquet lacus euismod sem velit ve.
<br /><br />
Ligula vehicula enenatis semper, magna lorem aliquet lacusin ante dapibus dictum. fugats vitaes nemo minima rerums unsers sadips amets.</p>
                            </div>
                            <div class="tab-pane fade" id="careers">
                                <h4>Careers</h4>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <h2>Tabs 02</h2>
                    <div class="tab-container style1">
                        <ul class="tabs full-width">
                            <li class="active"><a href="#unlimited-layouts" data-toggle="tab">Unlimited Layouts</a></li>
                            <li><a href="#design-inovation" data-toggle="tab">Design Inovation</a></li>
                            <li><a href="#best-support" data-toggle="tab">Best Support</a></li>
                            <li><a href="#8-sliders" data-toggle="tab">8 sliders</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="unlimited-layouts">
                                <h4>Check Complete Layouts</h4>
                                <p>Proin eget libero vel nunc cursus mollis ac eget sapien. Aenean porttitor euismod leo sed ultrices. Ut porta iaculis lorem ut placerat. Morbi non vulputate turpis. Aenean a tempor nulla. Maecenas nec pharetra felis, eget varius orci. Mauris vehicula, elit nec tincidunt mattis, nisi velit dignissim libero vel commodo eros lectus vel leo. Donec condimentum suscipit laoreet. Proin scelerisque mattis tristique.odio vel aliquam volutpat. in euismod sem lectus. ligula vehicula enenatis semper.</p>
                                <a href="#" class="button pull-right">MORE</a>
                            </div>
                            <div class="tab-pane fade" id="design-inovation">
                                
                            </div>
                            <div class="tab-pane fade" id="best-support">
                                
                            </div>
                            <div class="tab-pane fade" id="8-sliders">
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="block">
            <div class="row">
                <div class="col-md-6">
                    <h2>Transparent Tabs with Icons 01</h2>
                    <img src="http://placehold.it/570x200" alt="" width="570" height="200" style="width: 100%; height: auto;">
                    <div class="tab-container trans-style box">
                        <ul class="tabs full-width">
                            <li><a href="#family1" data-toggle="tab"><i class="fa fa-male"></i>Family</a></li>
                            <li class="active"><a href="#honeymoon1" data-toggle="tab"><i class="fa fa-heart"></i>Honeymoon</a></li>
                            <li><a href="#weekends1" data-toggle="tab"><i class="fa fa-smile-o"></i>Weekends</a></li>
                            <li><a href="#friends1" data-toggle="tab"><i class="fa fa-user"></i>Friends</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade" id="family1">
                                <h4>Family</h4>
                            </div>
                            <div class="tab-pane fade in active" id="honeymoon1">
                                <h4>Honey Moon</h4>
                                <p>
                                    Proin eget libero vel nunc cursus mollis ac eget sapien. Aenean porttitor euismod leo sed ultrices. Ut porta iaculis lorem ut placerat. Morbi non vulputate turpis. Aenean a tempor nulla. Maecenas nec pharetra felis, eget varius orci. Mauris vehicula, elit nec tincidunt mattis, nisi velit dignissim libero vel commodo eros lectus vel leo.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="weekends1">
                                <h4>Weekends</h4>
                            </div>
                            <div class="tab-pane fade" id="friends1">
                                <h4>Friends</h4>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <h2>Transparent Simple Tabs 02</h2>
                    <img src="http://placehold.it/570x200" alt="" width="570" height="200" style="width: 100%; height: auto;">
                    <div class="tab-container trans-style">
                        <ul class="tabs">
                            <li><a href="#family2" data-toggle="tab">Family</a></li>
                            <li class="active"><a href="#honeymoon2" data-toggle="tab">Honeymoon</a></li>
                            <li><a href="#weekends2" data-toggle="tab">Weekends</a></li>
                            <li><a href="#friends2" data-toggle="tab">Friends</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade" id="family2">
                                <h4>Family</h4>
                            </div>
                            <div class="tab-pane fade in active" id="honeymoon2">
                                <h4>Honey Moon</h4>
                                <p>
                                    Proin eget libero vel nunc cursus mollis ac eget sapien. Aenean porttitor euismod leo sed ultrices. Ut porta iaculis lorem ut placerat. Morbi non vulputate turpis. Aenean a tempor nulla. Maecenas nec pharetra felis, eget varius orci. Mauris vehicula, elit nec tincidunt mattis, nisi velit dignissim libero vel commodo eros lectus vel leo.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="weekends2">
                                <h4>Weekends</h4>
                            </div>
                            <div class="tab-pane fade" id="friends2">
                                <h4>Friends</h4>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        
        <div class="block">
            <h2>Full Width Tab</h2>
            <div class="tab-container full-width-style white-bg">
                <ul class="tabs">
                    <li class="active"><a href="#first-tab" data-toggle="tab"><i class="soap-icon-anchor circle"></i>First Tab</a></li>
                    <li><a href="#second-tab" data-toggle="tab"><i class="soap-icon-user circle"></i>Second Tab</a></li>
                    <li><a href="#third-tab" data-toggle="tab"><i class="soap-icon-suitcase circle"></i>Third Tab</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="first-tab">
                        <h2 class="tab-content-title">Hi First Tab Text</h2>
                        <p>Nam volutpat aliquam sem, in tristique felis luctus consectetur. In molestie quis velit eget mattis. Vivamus libero eros, euismod at bibendum vel, aliquet a nunc. Proin viverra eleifend metus, sit amet bibendum orci. sed eget semper odio. mauris fermentum porttitor augue eu vehicula. quisque congue velit turpis, sit amet interdum quam facilisis in. Proin venenatis purus a ipsum porttitor, sed cursus libero bibendum. aenean auctor felis et sagittis egestas. Donec lobortis, est dictum dictum molestie, dolor massa pulvinar quam, vel malesuada nisi magna a nulla. </p>
                        <p>Sed fringilla volutpat mauris sed dictum etiam a volutpat dui, et dignissim nisi. morbi ipsum risus, adipiscing imperdiet fermentum ac, consequat sed ante. In velit diam commodo tempor molestie et, congue ac augue. nam dignissim neque commodo sem ullamcorper, nec luctus nisi faucibus. Aliquam tincidunt ullamcorper velit vestibulum lacinia. morbi convallis justo sed tincidunt scelerisque. Integer porttitor consectetur ante. Mauris pretium dolor arcu, quis imperdiet felis semper nec unc arcu urna, aliquam nec erat at, facilisis dignissim velit. Phasellus vitae elementum sem, ac mollis magna. Ut pharetra tellus vel mi bibendum vel aliquam nisi scelerisque Pellentesque elementum porttitor dui facilisis luctus. </p>
                    </div>
                    <div class="tab-pane fade" id="second-tab">
                        <h2 class="tab-content-title">Second Tab</h2>
                    </div>
                    <div class="tab-pane fade" id="third-tab">
                        <h2 class="tab-content-title">Third Tab</h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>