<section id="content" class="gray-area">
    <div class="container shortcode">
        <div class="row">
            <div class="col-sm-6">
                <h2>Style 01</h2>
                <div class="testimonial style1 box">
                    <ul class="slides ">
                        <li>
                            <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                            <div class="author clearfix">
                                <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                <h5 class="name">Jessica Brown<small>guest</small></h5>
                            </div>
                        </li>
                        <li>
                            <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                            <div class="author clearfix">
                                <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                <h5 class="name">Lisa Kimberly<small>guest</small></h5>
                            </div>
                        </li>
                        <li>
                            <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                            <div class="author clearfix">
                                <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                <h5 class="name">Jessica Brown<small>guest</small></h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <h2>Style 02</h2>
                <div class="testimonial style2 box">
                    <ul class="slides">
                        <li>
                            <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                            <div class="author clearfix">
                                <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                <h5 class="name">Jessica Brown<small>guest</small></h5>
                            </div>
                        </li>
                        <li>
                            <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                            <div class="author clearfix">
                                <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                <h5 class="name">Lisa Kimberly<small>guest</small></h5>
                            </div>
                        </li>
                        <li>
                            <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                            <div class="author clearfix">
                                <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                <h5 class="name">Jessica Brown<small>guest</small></h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="global-map-area section parallax" data-stellar-background-ratio="0.5" style="margin-top: 100px;">
        <div class="container">
            <h1 class="text-center white-color">Testimonial Style 03</h1>
            <div class="testimonial style3">
                <ul class="slides ">
                    <li>
                        <div class="author"><a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a></div>
                        <blockquote class="description">We'd like to thank <em>Travelo</em> for making our honeymoon such a memorable experience as we were able to do everything on a single website.</blockquote>
                        <h2 class="name">Lisa Kimberly</h2>
                    </li>
                    <li>
                        <div class="author"><a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a></div>
                        <blockquote class="description">We'd like to thank <em>Travelo</em> for making our honeymoon such a memorable experience as we were able to do everything on a single website.</blockquote>
                        <h2 class="name">Jessica Brown</h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>