<section id="content" class="gray-area">
    <div class="container shortcode">
        <div class="block">
            <h1 class="s-title">Normal Heading Styles</h1>
            <div class="row add-clearfix">
                <div class="col-sm-6 box">
                    <h1>H1 Heading</h1>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h2>H2 Heading</h2>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h3>H3 Heading</h3>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h4>H4 Heading</h4>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h5>H5 Heading</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h6>H6 Heading</h6>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1 class="s-title">Heading Styles with 40 Space</h1>
            <div class="row add-clearfix">
                <div class="col-sm-6 box">
                    <h1 class="fourty-space">H1 Heading</h1>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h2 class="fourty-space">H2 Heading</h2>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h3 class="fourty-space">H3 Heading</h3>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h4 class="fourty-space">H4 Heading</h4>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h5 class="fourty-space">H5 Heading</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h6 class="fourty-space">H6 Heading</h6>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1 class="s-title">Heading Styles in Caps with 40 Space</h1>
            <div class="row add-clearfix">
                <div class="col-sm-6 box">
                    <h1 class="fourty-space uppercase">H1 Heading</h1>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h2 class="fourty-space uppercase">H2 Heading</h2>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h3 class="fourty-space uppercase">H3 Heading</h3>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h4 class="fourty-space uppercase">H4 Heading</h4>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h5 class="fourty-space uppercase">H5 Heading</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-sm-6 box">
                    <h6 class="fourty-space uppercase">H6 Heading</h6>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. ipsum is free text not hasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Dropcaps</h1>
            <div class="row">
                <div class="col-sm-6">
                    <p class="dropcap">
                        Djusto eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id sto consequat egestas quis facilisis metus.
Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifen tempor intmagna scelerisque urna placerat vel. 
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="dropcap colored">
                        Djusto eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id sto consequat egestas quis facilisis metus.
Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifen tempor intmagna scelerisque urna placerat vel. 
                    </p>
                </div>
            </div>
        </div>
        
        
        <div class="block">
            <h1>HTML Styles</h1>
            <p>
                This is a Text Link justo eget <u class="active">diam posuere sollicitudin</u> eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifen <span class="info-success">tempor inted magna in scelerisqu</span> urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.Phasellus vehicula <u>justo eget diam posuere</u> sollicitudin eu tincidunt nulla Curabitur eleifend tempor magna scelerisque urna placerat vel. Ph <span class="info-primary">sellus eget sem id justo consequ</span> egestas quis facilisis metus.
            </p>
        </div>
        
        <div class="block">
            <h1>Bullets, Lists &amp; Check Lists</h1>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="arrow box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="triangle box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="circle box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="check box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="chevron box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="arrow-square box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="decimal box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="upper-roman box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="lower-latin box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="upper-latin box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="check-square box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <ul class="check-circle box">
                        <li>Item #1</li>
                        <li>Item #2</li>
                        <li>Item #3</li>
                        <li>Item #4</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="block">
            <h1>Columns</h1>
            <div class="row">
                <div class="col-xs-6">
                    <h5>1/2 Columns</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-xs-6">
                    <h5>1/2 Columns</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-4">
                    <h5>1/3 Columns</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-xs-4">
                    <h5>1/3 Columns</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-xs-4">
                    <h5>1/3 Columns</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-4">
                    <h5>1/3 Columns</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
                <div class="col-xs-8">
                    <h5>2/3 Columns</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna, in scelerisque urna placerat vel. Phasellus eget sem id justo consequat egestas quis facilisis metus.</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-3">
                    <h5>1/4 Columns</h5>
                    <p>Phasellus vehicula justo eget diam e sollicitudin eu tincidunt nulla. Curabitu eleifeempor magna in scelerisque.</p>
                </div>
                <div class="col-xs-3">
                    <h5>1/4 Columns</h5>
                    <p>Phasellus vehicula justo eget diam e sollicitudin eu tincidunt nulla. Curabitu eleifeempor magna in scelerisque.</p>
                </div>
                <div class="col-xs-3">
                    <h5>1/4 Columns</h5>
                    <p>Phasellus vehicula justo eget diam e sollicitudin eu tincidunt nulla. Curabitu eleifeempor magna in scelerisque.</p>
                </div>
                <div class="col-xs-3">
                    <h5>1/4 Columns</h5>
                    <p>Phasellus vehicula justo eget diam e sollicitudin eu tincidunt nulla. Curabitu eleifeempor magna in scelerisque.</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-9">
                    <h5>9 Columns</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna in scelerisque.Phasellus vehica justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna in scelerisque.Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna in scelerisque.</p>
                </div>
                <div class="col-xs-3">
                    <h5>3 Columns</h5>
                    <p>Phasellus vehicula justo eget diam e sollicitudin eu tincidunt nulla. Curabitu eleifeempor magna in scelerisque.</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-10">
                    <h5>10 Columns</h5>
                    <p>Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna in scelerisque.Phasellus vehica justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna in scelerisque.Phasellus vehicula justo eget diam posuere sollicitudin eu tincidunt nulla. Curabitur eleifend tempor magna in scelerisque.</p>
                </div>
                <div class="col-xs-2">
                    <h5>2 Columns</h5>
                    <p>Phasellus vehicula justo eget diam e sollicitudin tincidunt nulla.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>