<h2>
  Question Groups
</h2>
<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Question Group</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question_group", collection: @question_groups %>
  </tbody>
</table>
