<section id="content" class="no-padding">
    <div class="banner imagebg-container" style="height: 350px; background-image: url(http://placehold.it/2080x350);">
        <div class="container">
            <h1 class="big-caption">Best Holiday Suggestions for <em>you!</em></h1>
            <h2 class="med-caption yellow-color"><strong>2,000</strong> destinations in <strong>120</strong> countries.</h2>
        </div>
    </div>
    <div class="tab-wrapper">
        <div class="tab-container container trans-style">
            <ul class="tabs no-padding">
                <li><a data-toggle="tab" href="#family1"><i class="soap-icon-family"></i>Family</a></li>
                <li class="active"><a data-toggle="tab" href="#honeymoon1"><i class="soap-icon-couples"></i>Honeymoon</a></li>
                <li><a data-toggle="tab" href="#weekends1"><i class="soap-icon-availability"></i>Weekends</a></li>
                <li><a data-toggle="tab" href="#friends1"><i class="soap-icon-friends"></i>Friends</a></li>
            </ul>
            <div class="tab-content">
                <div id="family1" class="tab-pane fade">
                    <div class="md-section">
                        <h2 class="skin-color">Family</h2>
                    </div>
                </div>
                <div id="honeymoon1" class="tab-pane fade in active image-style style2">
                    <div class="row">
                        <div class="col-md-6 md-section">
                            <h2 class="skin-color">Honeymoon Suggestions</h2>
                            <p style="font-size: 1.3333em;">Duis condimentum ante hendrerit, sagittis sapien vitae, elementum libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec massa urna, interdum sed nunc eu, pretium fermentum velit. Donec sodales.</p>
                        </div>
                        <div class="col-md-6 col-lg-5 pull-right">
                            <ul style="" class="image-block clearfix">
                                <li style="z-index: 5; left: 50px; top; 10px;">
                                    <a style="width: 80px; height: 80px; position: relative;" class="middle-block" href="#">
                                        <img width="133" height="88" alt="" src="http://placehold.it/133x88" class="middle-item" style="position: absolute; top: 50%; margin-top: -40px; left: 50%; margin-left: -66.5px;">
                                    </a>
                                </li>
                                <li style="z-index: 4; left: 180px; top: 100px;">
                                    <a style="width: 100px; height: 100px; position: relative;" class="middle-block" href="#">
                                        <img width="150" height="100" alt="" src="http://placehold.it/150x100" class="middle-item" style="position: absolute; top: 50%; margin-top: -50px; left: 50%; margin-left: -75px;">
                                    </a>
                                </li>
                                <li style="z-index: 3; left: 250px; top: 20px;">
                                    <a style="width: 150px; height: 150px; position: relative;" class="middle-block" href="#">
                                        <img width="220" height="196" alt="" src="http://placehold.it/220x196" class="middle-item" style="position: absolute; top: 50%; margin-top: -75px; left: 50%; margin-left: -110px;">
                                    </a>
                                </li>
                                <li style="z-index: 2; left: 100px; top: 0;">
                                    <a style="width: 160px; height: 160px; position: relative;" class="middle-block" href="#">
                                        <img width="312" height="208" alt="" src="http://placehold.it/312x208" class="middle-item" style="position: absolute; top: 50%; margin-top: -80px; left: 50%; margin-left: -156px;">
                                    </a>
                                </li>
                                <li style="z-index: 1; left: 0; top: 30px;">
                                    <a style="width: 156px; height: 156px; position: relative;" class="middle-block" href="#">
                                        <img width="235" height="156" alt="" src="http://placehold.it/235x156" class="middle-item" style="position: absolute; top: 50%; margin-top: -78px; left: 50%; margin-left: -117.5px;">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="weekends1" class="tab-pane fade">
                    <div class="md-section">
                        <h2 class="skin-color">Weekends</h2>
                    </div>
                </div>
                <div id="friends1" class="tab-pane fade">
                    <div class="md-section">
                        <h2 class="skin-color">Friends</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="main" class="md-section">
            <h2 class="no-margin">Dubai, United Arab Emirates</h2>
            <div class="small-box"><small class="uppercase fourty-space">3390 Holiday places</small></div>
            <div class="row image-box style1 add-clearfix">
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$490</span>
                            <h4 class="box-title">Atlantis - The Palm<small>Paris</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$170</span>
                            <h4 class="box-title">Hilton Hotel<small>LONDON</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$130</span>
                            <h4 class="box-title">Beach Rest Place<small>dubai</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$290</span>
                            <h4 class="box-title">Crown Casino<small>ASUTRALIA</small></h4>
                        </div>
                    </article>
                </div>
            </div>

            <h2 class="no-margin">Kuala Lumpur, Malaysia</h2>
            <div class="small-box"><small class="uppercase fourty-space">2812 Holiday places</small></div>
            <div class="row image-box style1 add-clearfix">
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$809</span>
                            <h4 class="box-title">Girl On Beach<small>Malaysia</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$125</span>
                            <h4 class="box-title">Beautiful Hotel<small>Malaysia</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$250</span>
                            <h4 class="box-title">Dinner on Beach<small>Malaysia</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$920</span>
                            <h4 class="box-title">Beach Area<small>Malaysia</small></h4>
                        </div>
                    </article>
                </div>
            </div>

            <h2 class="no-margin">Cape Town, South Africa</h2>
            <div class="small-box"><small class="uppercase fourty-space">4706 Holiday places</small></div>
            <div class="row image-box style1 add-clearfix">
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$312</span>
                            <h4 class="box-title">Boat Sea Horizon<small>South Africa</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$299</span>
                            <h4 class="box-title">Beauty of Venice<small>South Africa</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$421</span>
                            <h4 class="box-title">MGM Grand<small>South Africa</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 col-md-3">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <span class="price"><small>FROM</small>$124</span>
                            <h4 class="box-title">Near Beach<small>South Africa</small></h4>
                        </div>
                    </article>
                </div>
            </div>

            <h2 class="box">More Popular Destinations</h2>
            <div class="more-popular-destinations">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <ul class="triangle hover">
                            <li><a href="#"><h5 class="box-title">Beijing, China<small>419 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Melbourne, Australia<small>466 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">New York, United States<small>345 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">New Delhi, India<small>307 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Budapest, Hungary<small>1041 places</small></h5></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="triangle hover">
                            <li><a href="#"><h5 class="box-title">London, United Kingdom<small>3390 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Durban, South Africa<small>1896 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Phuket, Thailand<small>345 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Shanghai, China<small>2453 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Toronto, Canada<small>398 places</small></h5></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="triangle hover">
                            <li><a href="#"><h5 class="box-title">Cebu, Philippines<small>5819 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Jaipur, India<small>358 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Cape Town, South Africa<small>507 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Goa, India<small>450 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Abu Dhabi, United Arab Emirates<small>1588 places</small></h5></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="triangle hover">
                            <li><a href="#"><h5 class="box-title">Victor Harbor, South Australia<small>2376 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Frankfurt, Germany<small>1750 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Penang, Malaysia<small>857 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Ontario, Canada<small>1458 places</small></h5></a></li>
                            <li><a href="#"><h5 class="box-title">Mumbai, India<small>219 places</small></h5></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>