<section id="content">
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <h4 class="search-results-title"><i class="soap-icon-search"></i><b>2,627</b> results found.</h4>
                    <div class="toggle-container filters-container box">
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#price-filter" class="collapsed">Price</a>
                            </h4>
                            <div id="price-filter" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <div id="price-range"></div>
                                    <br />
                                    <span class="min-price-label pull-left"></span>
                                    <span class="max-price-label pull-right"></span>
                                    <div class="clearer"></div>
                                </div><!-- end content -->
                            </div>
                        </div>
                        
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#rating-filter" class="collapsed">User Rating</a>
                            </h4>
                            <div id="rating-filter" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <div id="rating" class="five-stars-container editable-rating"></div>
                                    <br />
                                    <p><small>2457 REVIEWS</small></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#accomodation-type-filter" class="collapsed">Deals Type</a>
                            </h4>
                            <div id="accomodation-type-filter" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <ul class="check-square filters-option">
                                        <li class="active"><a href="#">All<small>(722)</small></a></li>
                                        <li><a href="#">Hotels<small>(982)</small></a></li>
                                        <li><a href="#">Flights<small>(127)</small></a></li>
                                        <li><a href="#">Cruises<small>(222)</small></a></li>
                                        <li><a href="#">Cars<small>(158)</small></a></li>
                                        <li><a href="#">Last minute Deals<small>(439)</small></a></li>
                                        <li><a href="#">Guest House<small>(52)</small></a></li>
                                    </ul>
                                    <a class="button btn-mini">MORE</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#amenities-filter" class="collapsed">Deal Location</a>
                            </h4>
                            <div id="amenities-filter" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <ul class="check-square filters-option">
                                        <li><a href="#">Chicago<small>(722)</small></a></li>
                                        <li><a href="#">Paris<small>(982)</small></a></li>
                                        <li class="active"><a href="#">England<small>(127)</small></a></li>
                                        <li class="active"><a href="#">New york<small>(222)</small></a></li>
                                        <li><a href="#">Rome<small>(158)</small></a></li>
                                        <li><a href="#">Spain<small>(439)</small></a></li>
                                        <li><a href="#">Australia<small>(52)</small></a></li>
                                    </ul>
                                    <a class="button btn-mini">MORE</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Modify Search</a>
                            </h4>
                            <div id="modify-search-panel" class="panel-collapse collapse">
                                <div class="panel-content">
                                    <form method="post">
                                        <div class="form-group">
                                            <label>destination</label>
                                            <input type="text" class="input-text full-width" placeholder="" value="Paris" />
                                        </div>
                                        <div class="form-group">
                                            <label>check in</label>
                                            <div class="datepicker-wrap">
                                                <input type="text" name="date_from" class="input-text full-width" placeholder="mm/dd/yy" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>check out</label>
                                            <div class="datepicker-wrap">
                                                <input type="text" name="date_to" class="input-text full-width" placeholder="mm/dd/yy" />
                                            </div>
                                        </div>
                                        <br />
                                        <button class="btn-medium icon-check uppercase full-width">search again</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="hot-deals-list">
                        <div class="row hotel-list image-box hotel listing-style1 add-clearfix">
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <figure>
                                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery">
                                            <img width="270" height="160" alt="" src="http://placehold.it/270x160">
                                            <span class="discount"><span class="discount-text">10% Discount</span></span>
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>avg/night</small>$170</span>
                                        <h4 class="box-title">Roosevelt Hotel<small>New york</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                            <span class="review">75 reviews</span>
                                        </div>
                                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                        <div class="action">
                                            <a class="button btn-small" href="hotel-detailed.html">SELECT</a>
                                            <a class="button btn-small popup-map" href="#" data-box="40.705631, -73.978003">VIEW ON MAP</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <figure>
                                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery">
                                            <img width="270" height="160" alt="" src="http://placehold.it/270x160">
                                            <span class="discount"><span class="discount-text">10% Discount</span></span>
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <span class="price">
                                            <small>avg/night</small>
                                            $620
                                        </span>
                                        <h4 class="box-title">Costa Brava<small>Spain</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                            <span class="review">423 reviews</span>
                                        </div>
                                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                        <div class="action">
                                            <a class="button btn-small" href="hotel-detailed.html">SELECT</a>
                                            <a class="button btn-small popup-map" href="#" data-box="40.463667, -3.749220">VIEW ON MAP</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <figure>
                                        <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery">
                                            <img width="270" height="160" alt="" src="http://placehold.it/270x160">
                                            <span class="discount"><span class="discount-text">10% Discount</span></span>
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>avg/night</small>$322</span>
                                        <h4 class="box-title">Ruzzini Palace<small>Venice</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                            <span class="review">199 reviews</span>
                                        </div>
                                        <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                        <div class="action">
                                            <a class="button btn-small" href="hotel-detailed.html">SELECT</a>
                                            <a class="button btn-small popup-map" href="#" data-box="40.463667, -3.749220">VIEW ON MAP</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="row flight-list image-box flight listing-style1">
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <span class="discount"><span class="discount-text">10% Discount</span></span>
                                    <figure>
                                        <span>
                                            <img alt="" src="http://placehold.it/270x160">
                                        </span>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>avg/person</small>$620</span>
                                        <h4 class="box-title">Paris<small>Oneway flight</small></h4>
                                        <div class="time">
                                            <div class="take-off">
                                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                <div>
                                                    <span class="skin-color">Take off</span><br />Wed Nov 13<br />7:50 Am
                                                </div>
                                            </div>
                                            <div class="landing">
                                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                <div>
                                                    <span class="skin-color">landing</span><br />Wed Nov 13<br />7:50 Am
                                                </div>
                                            </div>
                                        </div>
                                        <p class="duration"><span class="skin-color">Total Time</span> 13 Hour, 40 minutes</p>
                                        <div class="action">
                                            <a class="button btn-small full-width" href="flight-detailed.html">SELECT NOW</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <span class="discount"><span class="discount-text">10% Discount</span></span>
                                    <figure>
                                        <span><img alt="" src="http://placehold.it/270x160"></span>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>avg/person</small>$620</span>
                                        <h4 class="box-title">Paris<small>Oneway flight</small></h4>
                                        <div class="time">
                                            <div class="take-off">
                                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                <div>
                                                    <span class="skin-color">Take off</span><br />Wed Nov 13<br />7:50 Am
                                                </div>
                                            </div>
                                            <div class="landing">
                                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                <div>
                                                    <span class="skin-color">landing</span><br />Wed Nov 13<br />7:50 Am
                                                </div>
                                            </div>
                                        </div>
                                        <p class="duration"><span class="skin-color">Total Time</span> 13 Hour, 40 minutes</p>
                                        <div class="action">
                                            <a class="button btn-small full-width" href="flight-detailed.html">SELECT NOW</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <span class="discount"><span class="discount-text">10% Discount</span></span>
                                    <figure>
                                        <span><img alt="" src="http://placehold.it/270x160"></span>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>avg/person</small>$620</span>
                                        <h4 class="box-title">Paris<small>Oneway flight</small></h4>
                                        <div class="time">
                                            <div class="take-off">
                                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                <div>
                                                    <span class="skin-color">Take off</span><br />Wed Nov 13<br />7:50 Am
                                                </div>
                                            </div>
                                            <div class="landing">
                                                <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                <div>
                                                    <span class="skin-color">landing</span><br />Wed Nov 13<br />7:50 Am
                                                </div>
                                            </div>
                                        </div>
                                        <p class="duration"><span class="skin-color">Total Time</span> 13 Hour, 40 minutes</p>
                                        <div class="action">
                                            <a class="button btn-small full-width" href="flight-detailed.html">SELECT NOW</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="row car-list image-box car listing-style1">
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <span class="discount"><span class="discount-text">10% Discount</span></span>
                                    <figure>
                                        <a title="" href="#"><img alt="" src="http://placehold.it/270x160"></a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>per day</small>$40.08</span>
                                        <h4 class="box-title">Economy Car<small>vokswagen polo diesel</small></h4>
                                        <div class="amenities">
                                            <ul>
                                                <li><i class="soap-icon-user circle"></i>4</li>
                                                <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                            </ul>
                                        </div>
                                        <p class="mile"><span class="skin-color">Mileage:</span> up to 12000 miles</p>
                                        <div class="action">
                                            <a class="button btn-small full-width" href="car-detailed.html">SELECT NOW</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <span class="discount"><span class="discount-text">10% Discount</span></span>
                                    <figure>
                                        <a title="" href="#"><img alt="" src="http://placehold.it/270x160"></a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>per day</small>$99</span>
                                        <h4 class="box-title">Economy Car<small>Renault clio</small></h4>
                                        <div class="amenities">
                                            <ul>
                                                <li><i class="soap-icon-user circle"></i>4</li>
                                                <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                            </ul>
                                        </div>
                                        <p class="mile"><span class="skin-color">Mileage:</span> up to 1500 miles</p>
                                        <div class="action">
                                            <a class="button btn-small full-width" href="car-detailed.html">SELECT NOW</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <span class="discount"><span class="discount-text">10% Discount</span></span>
                                    <figure>
                                        <a title="" href="#"><img alt="" src="http://placehold.it/270x160"></a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>per day</small>$105</span>
                                        <h4 class="box-title">Compact<small>Nissan tiida</small></h4>
                                        <div class="amenities">
                                            <ul>
                                                <li><i class="soap-icon-user circle"></i>4</li>
                                                <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                            </ul>
                                        </div>
                                        <p class="mile"><span class="skin-color">Mileage:</span> up to 3000 miles</p>
                                        <div class="action">
                                            <a class="button btn-small full-width" href="car-detailed.html">SELECT NOW</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="row cruise-list image-box style3 cruise listing-style1">
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <figure>
                                        <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery">
                                            <img width="270" height="160" alt="" src="http://placehold.it/270x160">
                                            <span class="discount"><span class="discount-text">10% Discount</span></span>
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>from</small>$239</span>
                                        <h4 class="box-title">Baja Mexico<small>4 nights</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="3 stars"><span style="width: 60%;" class="five-stars"></span></div>
                                            <span class="review">27 reviews</span>
                                        </div>
                                        <div class="row time">
                                            <div class="date col-xs-6">
                                                <i class="soap-icon-clock yellow-color"></i>
                                                <div>
                                                    <span class="skin-color">Date</span><br />Jan 26, 2014
                                                </div>
                                            </div>
                                            <div class="departure col-xs-6">
                                                <i class="soap-icon-departure yellow-color"></i>
                                                <div>
                                                    <span class="skin-color">Departure</span><br />Los Angeles
                                                </div>
                                            </div>
                                        </div>
                                        <p class="description fourty-space">Save up to <span class="skin-color">20%</span> in grand suite</p>
                                        <div class="action">
                                            <a class="button btn-small full-width" href="cruise-detailed.html">SELECT NOW</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <figure>
                                        <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery">
                                            <img width="270" height="160" alt="" src="http://placehold.it/270x160">
                                            <span class="discount"><span class="discount-text">10% Discount</span></span>
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>from</small>$299</span>
                                        <h4 class="box-title">Miami to Florida<small>4 nights</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="3 stars"><span style="width: 60%;" class="five-stars"></span></div>
                                            <span class="review">27 reviews</span>
                                        </div>
                                        <div class="row time">
                                            <div class="date col-xs-6">
                                                <i class="soap-icon-clock yellow-color"></i>
                                                <div>
                                                    <span class="skin-color">Date</span><br />Jan 26, 2014
                                                </div>
                                            </div>
                                            <div class="departure col-xs-6">
                                                <i class="soap-icon-departure yellow-color"></i>
                                                <div>
                                                    <span class="skin-color">Departure</span><br />Los Angeles
                                                </div>
                                            </div>
                                        </div>
                                        <p class="description fourty-space">Save up to <span class="skin-color">20%</span> in grand suite</p>
                                        <div class="action">
                                            <a class="button btn-small full-width" href="cruise-detailed.html">SELECT NOW</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="box has-discount">
                                    <figure>
                                        <a href="ajax/cruise-slideshow-popup.html" class="hover-effect popup-gallery">
                                            <img width="270" height="160" alt="" src="http://placehold.it/270x160">
                                            <span class="discount"><span class="discount-text">10% Discount</span></span>
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <span class="price"><small>from</small>$578</span>
                                        <h4 class="box-title">Jacksonville to Asia<small>4 nights</small></h4>
                                        <div class="feedback">
                                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="3 stars"><span style="width: 60%;" class="five-stars"></span></div>
                                            <span class="review">27 reviews</span>
                                        </div>
                                        <div class="row time">
                                            <div class="date col-xs-6">
                                                <i class="soap-icon-clock yellow-color"></i>
                                                <div>
                                                    <span class="skin-color">Date</span><br />Jan 26, 2014
                                                </div>
                                            </div>
                                            <div class="departure col-xs-6">
                                                <i class="soap-icon-departure yellow-color"></i>
                                                <div>
                                                    <span class="skin-color">Departure</span><br />Los Angeles
                                                </div>
                                            </div>
                                        </div>
                                        <p class="description fourty-space">Save up to <span class="skin-color">20%</span> in grand suite</p>
                                        <div class="action">
                                            <a class="button btn-small full-width" href="cruise-detailed.html">SELECT NOW</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                    </div>
                    <a href="#" class="uppercase full-width button btn-large">load more deals</a>
                </div>
            </div>
        </div>
    </div>
</section>