<section id="content" class="no-padding">
    <div class="banner imagebg-container" style="height: 350px; background-image: url(http://placehold.it/2080x350);">
        <div class="container">
            <h1 class="big-caption">Fly with us in <em>Comfort!</em></h1>
            <h2 class="med-caption">We're bringing you a modern, comfortable,
            <br />and connected flight experience</h2>
        </div>
    </div>
    <div class="tab-wrapper">
        <div class="tab-container container trans-style">
            <ul class="tabs no-padding">
                <li><a data-toggle="tab" href="#entertained"><i class="soap-icon-entertainment"></i>Be entertained</a></li>
                <li><a data-toggle="tab" href="#eat-drink"><i class="soap-icon-food"></i>Eat &amp; Drink</a></li>
                <li><a data-toggle="tab" href="#sky-shopping"><i class="soap-icon-shopping-3"></i>Sky Shopping</a></li>
                <li class="active"><a data-toggle="tab" href="#fly-in-comfort"><i class="soap-icon-passenger"></i>fly in comfort</a></li>
                <li><a data-toggle="tab" href="#stay-connected"><i class="soap-icon-wifi"></i>Stay connected</a></li>
                <li><a data-toggle="tab" href="#emergency-ready"><i class="soap-icon-baggage-4"></i>Emergency ready</a></li>
            </ul>
            <div class="tab-content">
                <div id="entertained" class="tab-pane fade">
                    <div class="sm-section">
                        <h2>Be entertained</h2>
                    </div>
                </div>
                <div id="eat-drink" class="tab-pane fade">
                    <div class="sm-section">
                        <h2>Eat &amp; Drink</h2>
                    </div>
                </div>
                <div id="sky-shopping" class="tab-pane fade">
                    <div class="sm-section">
                        <h2>Sky Shopping</h2>
                    </div>
                </div>
                <div id="fly-in-comfort" class="tab-pane fade in active">
                    <div class="sm-section clearfix">
                        <i class="soap-icon-passenger circle white-color skin-bg no-border pull-left" style="font-size: 54px; margin-right: 15px;"></i>
                        <div class="table-wrapper hidden-table-sm">
                            <div class="table-cell" style="padding: 0 15px;">
                                <h1>Fly in Comfort with Travelo</h1>
                                <p>We're transforming our fleet by purchasing hundreds of new planes and refreshing existing ones to help you travel in comfort. Look forward to new seats, extra legroom, more inflight power, and bigger overhead bins to more easily store your carry-on luggage. </p>
                            </div>
                            <div class="table-cell content-middle">
                                <a href="#" class="button btn-large green pull-right">BOOK FLIGHT NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="stay-connected" class="tab-pane fade">
                    <div class="sm-section">
                        <h2>Stay connected</h2>
                    </div>
                </div>
                <div id="emergency-ready" class="tab-pane fade">
                    <div class="sm-section">
                        <h2>Emergency ready</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="main" class="md-section">
            <div class="row image-box style2 add-clearfix">
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a title="" href="#"><img width="270" height="192" alt="" src="http://placehold.it/270x192"></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Amenity Kits</h4>
                            <p>Our premium class amenity kits are packed with items for your health and comfort, ensuring that you arrive at your destination feeling fresh.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a title="" href="#"><img width="270" height="192" alt="" src="http://placehold.it/270x192"></a>
                        </figure>
                        <div class="details">
                            <h4>Dining Experience</h4>
                            <p>Our premium class amenity kits are packed with items for your health and comfort, ensuring that you arrive at your destination feeling fresh.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a title="" href="#"><img width="270" height="192" alt="" src="http://placehold.it/270x192"></a>
                        </figure>
                        <div class="details">
                            <h4>Turndown Service</h4>
                            <p>Our premium class amenity kits are packed with items for your health and comfort, ensuring that you arrive at your destination feeling fresh.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a title="" href="#"><img width="270" height="192" alt="" src="http://placehold.it/270x192"></a>
                        </figure>
                        <div class="details">
                            <h4>Fully Lie Flat Seats</h4>
                            <p>Our premium class amenity kits are packed with items for your health and comfort, ensuring that you arrive at your destination feeling fresh.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a title="" href="#"><img width="270" height="192" alt="" src="http://placehold.it/270x192"></a>
                        </figure>
                        <div class="details">
                            <h4>Flagship Suite</h4>
                            <p>Our premium class amenity kits are packed with items for your health and comfort, ensuring that you arrive at your destination feeling fresh.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a title="" href="#"><img width="270" height="192" alt="" src="http://placehold.it/270x192"></a>
                        </figure>
                        <div class="details">
                            <h4>Main Cabin Extra</h4>
                            <p>Our premium class amenity kits are packed with items for your health and comfort, ensuring that you arrive at your destination feeling fresh.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a title="" href="#"><img width="270" height="192" alt="" src="http://placehold.it/270x192"></a>
                        </figure>
                        <div class="details">
                            <h4>Inflight TV</h4>
                            <p>NOur premium class amenity kits are packed with items for your health and comfort, ensuring that you arrive at your destination feeling fresh.</p>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="box">
                        <figure>
                            <a title="" href="#"><img width="270" height="192" alt="" src="http://placehold.it/270x192"></a>
                        </figure>
                        <div class="details">
                            <h4>Modernizing our Fleet</h4>
                            <p>Our premium class amenity kits are packed with items for your health and comfort, ensuring that you arrive at your destination feeling fresh.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>