<section id="content">
    <div class="container">
        <div class="row">
            <div id="main" class="col-md-9">
                <div class="image-box style2 activities no-bottom-border">
                    <article class="box">
                        <figure>
                            <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <div class="details-header">
                                <div class="review-score">
                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                    <span class="reviews">25 reviews</span>
                                </div>
                                <h4 class="box-title">Central Park Walking Tour</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                            <a class="button" title="" href="#">MORE</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <div class="details-header">
                                <div class="review-score">
                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                    <span class="reviews">25 reviews</span>
                                </div>
                                <h4 class="box-title">Museum of Modern Art</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                            <a class="button" title="" href="#">MORE</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <div class="details-header">
                                <div class="review-score">
                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                    <span class="reviews">25 reviews</span>
                                </div>
                                <h4 class="box-title">Spirit of Paris Dinner Cruise</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                            <a class="button" title="" href="#">MORE</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <div class="details-header">
                                <div class="review-score">
                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                    <span class="reviews">25 reviews</span>
                                </div>
                                <h4 class="box-title">Crazy Horse Cabaret Show</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                            <a class="button" title="" href="#">MORE</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <div class="details-header">
                                <div class="review-score">
                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                    <span class="reviews">25 reviews</span>
                                </div>
                                <h4 class="box-title">Palace of Versailles Tour</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                            <a class="button" title="" href="#">MORE</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <div class="details-header">
                                <div class="review-score">
                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                    <span class="reviews">25 reviews</span>
                                </div>
                                <h4 class="box-title">Lunch at the Eiffel Tower</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                            <a class="button" title="" href="#">MORE</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <div class="details-header">
                                <div class="review-score">
                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                    <span class="reviews">25 reviews</span>
                                </div>
                                <h4 class="box-title">Paris City Tour</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                            <a class="button" title="" href="#">MORE</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                        </figure>
                        <div class="details">
                            <div class="details-header">
                                <div class="review-score">
                                    <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                                    <span class="reviews">25 reviews</span>
                                </div>
                                <h4 class="box-title">Night Club Cafe De Paris</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                            <a class="button" title="" href="#">MORE</a>
                        </div>
                    </article>
                </div>
                <a href="#" class="button btn-large full-width">LOAD MORE ACTIVITIES</a>
            </div>
            <div class="sidebar col-md-3">
                <div class="travelo-box contact-box">
                    <h4>Need Travelo Help?</h4>
                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                        <br>
                        <a class="contact-email" href="#">help@travelo.com</a>
                    </address>
                </div>
                <div class="travelo-box">
                    <h4 class="box-title">Holiday Activities</h4>
                    <div class="image-box style14">
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" src="http://placehold.it/63x59" alt=""></a></figure>
                            <div class="details">
                                <h5 class="box-title"><a href="#">Half-Day Island Tour</a></h5>
                                <label class="price-wrapper"><span class="price-per-unit">$35</span>Family Package</label>
                            </div>
                        </article>
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" src="http://placehold.it/63x59" alt=""></a></figure>
                            <div class="details">
                                <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                                <label class="price-wrapper"><span class="price-per-unit">$26</span>Per Person</label>
                            </div>
                        </article>
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" src="http://placehold.it/63x59" alt=""></a></figure>
                            <div class="details">
                                <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                                <label class="price-wrapper"><span class="price-per-unit">$11</span>holiday offer</label>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="travelo-box book-with-us-box">
                    <h4>Why Book with us?</h4>
                    <ul>
                        <li>
                            <i class="soap-icon-hotel-1 circle"></i>
                            <h5 class="title"><a href="#" class="skin-color">135,00+ Hotels</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                        <li>
                            <i class="soap-icon-savings circle"></i>
                            <h5 class="title"><a href="#" class="skin-color">Low Rates &amp; Savings</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                        <li>
                            <i class="soap-icon-support circle"></i>
                            <h5 class="title"><a href="#" class="skin-color">Excellent Support</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>