<section id="content">
    <div class="container">
        <div class="row">
            <div id="main" class="col-md-9">
                <div class="image-box style9 column-5">
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Canada<small>3 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Rome<small>10 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Paris<small>22 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Spain<small>15 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Egypt<small>11 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Africa<small>19 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Italy<small>46 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">New York<small>38 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Sydney<small>18 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">London<small>23 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Austrilia<small>32 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Greece<small>19 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Asia<small>28 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Hong Kong<small>41 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Singapore<small>16 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Bali<small>9 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Las Vegas<small>38 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Venice<small>15 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">England<small>21 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                    <article class="box">
                        <figure>
                            <a href="extra-pages-things-todo2.html" title="" class="hover-effect yellow"><img src="http://placehold.it/160x160" alt="" width="160" height="160" /></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">India<small>5 Activities</small></h4>
                            <a href="extra-pages-things-todo2.html" title="" class="button">SEE ALL</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="sidebar col-md-3">
                <div class="travelo-box contact-box">
                    <h4>Need Travelo Help?</h4>
                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                        <br>
                        <a class="contact-email" href="#">help@travelo.com</a>
                    </address>
                </div>
                <div class="travelo-box">
                    <h4 class="box-title">Holiday Activities</h4>
                    <div class="image-box style14">
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" src="http://placehold.it/63x59" alt=""></a></figure>
                            <div class="details">
                                <h5 class="box-title"><a href="#">Half-Day Island Tour</a></h5>
                                <label class="price-wrapper"><span class="price-per-unit">$35</span>Family Package</label>
                            </div>
                        </article>
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" src="http://placehold.it/63x59" alt=""></a></figure>
                            <div class="details">
                                <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                                <label class="price-wrapper"><span class="price-per-unit">$26</span>Per Person</label>
                            </div>
                        </article>
                        <article class="box">
                            <figure><a href="#" title=""><img width="63" height="59" src="http://placehold.it/63x59" alt=""></a></figure>
                            <div class="details">
                                <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                                <label class="price-wrapper"><span class="price-per-unit">$11</span>holiday offer</label>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="travelo-box book-with-us-box">
                    <h4>Why Book with us?</h4>
                    <ul>
                        <li>
                            <i class="soap-icon-hotel-1 circle"></i>
                            <h5 class="title"><a href="#" class="skin-color">135,00+ Hotels</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                        <li>
                            <i class="soap-icon-savings circle"></i>
                            <h5 class="title"><a href="#" class="skin-color">Low Rates &amp; Savings</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                        <li>
                            <i class="soap-icon-support circle"></i>
                            <h5 class="title"><a href="#" class="skin-color">Excellent Support</a></h5>
                            <p>Nunc cursus libero pur congue arut nimspnty.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>