<section id="content">
    <div class="container block">
        <div class="row">
            <div id="main" class="col-md-9">
                <div class="travel-story-container box">
                    <div class="travel-story-content">
                        <div class="avatar">
                            <img src="http://placehold.it/90x90" width="90" height="90" alt="">
                            <h5><a href="#">Jessica Brown</a></h5>
                        </div>
                        <div class="description">
                            <h4 class="skin-color">Best Adventure Trip ever with Travelo</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                    <div class="travel-story-meta clearfix">
                        <div class="story-meta">
                            <span class="date"><i class="soap-icon-clock"></i>11 NOV 2013</span>
                            <a class="likes button" href="#"><i class="soap-icon-heart"></i>22 Likes</a>
                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                        </div>
                        <span class="travel-miles"><i class="soap-icon-locations"></i><span><b>4,258</b> Miles traveled</span></span>
                    </div>
                </div>
                <div class="travel-story-container box">
                    <div class="travel-story-content">
                        <div class="avatar">
                            <img src="http://placehold.it/90x90" width="90" height="90" alt="">
                            <h5><a href="#">David Jackson</a></h5>
                        </div>
                        <div class="description">
                            <h4 class="skin-color">We had Fantastic Adventure in Paris</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            <div class="my-trip">
                                <h5>My Trip Photos</h5>
                                <ul>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="travel-story-meta clearfix">
                        <div class="story-meta">
                            <span class="date"><i class="soap-icon-clock"></i>11 NOV 2013</span>
                            <a class="likes button" href="#"><i class="soap-icon-heart"></i>22 Likes</a>
                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                        </div>
                        <span class="travel-miles"><i class="soap-icon-locations"></i><span><b>4,258</b> Miles traveled</span></span>
                    </div>
                </div>
                <div class="travel-story-container box">
                    <div class="travel-story-content">
                        <div class="avatar">
                            <img src="http://placehold.it/90x90" width="90" height="90" alt="">
                            <h5><a href="#">Kyle Martin</a></h5>
                        </div>
                        <div class="description">
                            <h4 class="skin-color">Best Adventure Trip ever with Travelo</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                    <div class="travel-story-meta clearfix">
                        <div class="story-meta">
                            <span class="date"><i class="soap-icon-clock"></i>11 NOV 2013</span>
                            <a class="likes button" href="#"><i class="soap-icon-heart"></i>22 Likes</a>
                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                        </div>
                        <span class="travel-miles"><i class="soap-icon-locations"></i><span><b>4,258</b> Miles traveled</span></span>
                    </div>
                </div>
                <div class="travel-story-container box">
                    <div class="travel-story-content">
                        <div class="avatar">
                            <img src="http://placehold.it/90x90" width="90" height="90" alt="">
                            <h5><a href="#">David Jackson</a></h5>
                        </div>
                        <div class="description">
                            <h4 class="skin-color">Perfect budget hotel very clean</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            <h4 class="skin-color">2 Helpful Things</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                    <div class="travel-story-meta clearfix">
                        <div class="story-meta">
                            <span class="date"><i class="soap-icon-clock"></i>11 NOV 2013</span>
                            <a class="likes button" href="#"><i class="soap-icon-heart"></i>22 Likes</a>
                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                        </div>
                        <span class="travel-miles"><i class="soap-icon-locations"></i><span><b>4,258</b> Miles traveled</span></span>
                    </div>
                </div>
                <div class="travel-story-container box">
                    <div class="travel-story-content">
                        <div class="avatar">
                            <img src="http://placehold.it/90x90" width="90" height="90" alt="">
                            <h5><a href="#">David Jackson</a></h5>
                        </div>
                        <div class="description">
                            <h4 class="skin-color">We had Fantastic Adventure in Paris</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                            <div class="my-trip">
                                <h5>My Trip Photos</h5>
                                <ul>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                    <li><a href="#" class="hover-effect"><img src="http://placehold.it/170x160" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="travel-story-meta clearfix">
                        <div class="story-meta">
                            <span class="date"><i class="soap-icon-clock"></i>11 NOV 2013</span>
                            <a class="likes button" href="#"><i class="soap-icon-heart"></i>22 Likes</a>
                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                        </div>
                        <span class="travel-miles"><i class="soap-icon-locations"></i><span><b>4,258</b> Miles traveled</span></span>
                    </div>
                </div>
                <div class="travel-story-container box">
                    <div class="travel-story-content">
                        <div class="avatar">
                            <img src="http://placehold.it/90x90" width="90" height="90" alt="">
                            <h5><a href="#">Kyle Martin</a></h5>
                        </div>
                        <div class="description">
                            <h4 class="skin-color">Best Adventure Trip ever with Travelo</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                    <div class="travel-story-meta clearfix">
                        <div class="story-meta">
                            <span class="date"><i class="soap-icon-clock"></i>11 NOV 2013</span>
                            <a class="likes button" href="#"><i class="soap-icon-heart"></i>22 Likes</a>
                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                        </div>
                        <span class="travel-miles"><i class="soap-icon-locations"></i><span><b>4,258</b> Miles traveled</span></span>
                    </div>
                </div>
                <a class="button btn-large full-width">LOAD MORE STORIES</a>
            </div>
            <div class="sidebar col-md-3">
                <div class="travelo-box">
                    <h5 class="box-title">Search Stories</h5>
                    <div class="with-icon full-width">
                        <input type="text" class="input-text full-width" placeholder="story name or category">
                        <button class="icon green-bg white-color"><i class="soap-icon-search"></i></button>
                    </div>
                </div>
                <div class="travelo-box filters-container">
                    <h4 class="box-title">All Categories</h4>
                    <ul class="check-square categories-filter filters-option">
                        <li><a href="#">All<small>(722)</small></a></li>
                        <li><a href="#">Family<small>(982)</small></a></li>
                        <li><a href="#">Romance<small>(127)</small></a></li>
                        <li class="active"><a href="#">Adventure<small>(222)</small></a></li>
                        <li class="active"><a href="#">Beach<small>(158)</small></a></li>
                        <li><a href="#">Wildlife<small>(439)</small></a></li>
                        <li><a href="#">Island &amp; parks<small>(52)</small></a></li>
                    </ul>
                    <a class="button btn-mini">MORE</a>
                </div>
                <div class="tab-container box post-list">
                    <ul class="tabs full-width">
                        <li><a data-toggle="tab" href="#recent-posts">Recent</a></li>
                        <li class="active"><a data-toggle="tab" href="#popular-posts">Popular</a></li>
                        <li><a data-toggle="tab" href="#new-posts">New</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="recent-posts" class="tab-pane fade">
                            <div class="image-box style14">
                                <article class="box">
                                    <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="http://placehold.it/64x64" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Excellent choice</a></h5>
                                        <p>Lorem Ipsum is sim dumy text of the printing.</p>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="http://placehold.it/64x64" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Just perfect</a></h5>
                                        <p>Lorem Ipsum is sim dumy text of the printing.</p>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="http://placehold.it/64x64" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Great place to stay</a></h5>
                                        <p>Lorem Ipsum is sim dumy text of the printing.</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div id="popular-posts" class="tab-pane fade in active">
                            <div class="image-box style14">
                                <article class="box">
                                    <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="http://placehold.it/64x64" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Excellent choice</a></h5>
                                        <p>Lorem Ipsum is sim dumy text of the printing.</p>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="http://placehold.it/64x64" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Just perfect</a></h5>
                                        <p>Lorem Ipsum is sim dumy text of the printing.</p>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="http://placehold.it/64x64" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Great place to stay</a></h5>
                                        <p>Lorem Ipsum is sim dumy text of the printing.</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div id="new-posts" class="tab-pane fade">
                            <div class="image-box style14">
                                <article class="box">
                                    <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="http://placehold.it/64x64" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Excellent choice</a></h5>
                                        <p>Lorem Ipsum is sim dumy text of the printing.</p>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="http://placehold.it/64x64" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Just perfect</a></h5>
                                        <p>Lorem Ipsum is sim dumy text of the printing.</p>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="http://placehold.it/64x64" alt=""></a></figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Great place to stay</a></h5>
                                        <p>Lorem Ipsum is sim dumy text of the printing.</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="travelo-box twitter-box">
                    <h4 class="box-title">Twitter Feeds</h4>
                    <div class="twitter-holder">
                        <ul>
                            <li class="tweet">
                                <p class="tweet-text">
                                    <a href="#">@Travelo</a>, Proin feugiat mattis a sed adipiscing velit sodales.
                                </p>
                                <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
                            </li>
                            <li class="tweet">
                                <p class="tweet-text">
                                    Proin feugiat mattis antesmoke sed adipiscing velit sodales.
                                    <a href="#">http://travelo.com</a>
                                </p>
                                <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
                            </li>
                            <li class="tweet">
                                <p class="tweet-text">
                                    <a href="#">@Travelo</a>, Proin feugiat mattis a sed adipiscing velit sodales.
                                </p>
                                <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="content-section description pull-right col-sm-9">
                <div class="table-wrapper hidden-table-sm">
                    <div class="table-cell">
                        <h2 class="m-title">
                            Have any great travel experience?<br /><em>Tell Us Your Amazing Travel Story!</em>
                        </h2>
                    </div>
                    <div class="action-section table-cell">
                        <button class="btn-large">Write your story</button>
                    </div>
                </div>
            </div>
            <div class="image-container col-sm-4">
                <img src="http://placehold.it/376x255" alt="" width="376" height="255" />
            </div>
        </div>
    </div>
</section>