<section id="content" class="no-padding">
    <div class="banner imagebg-container" style="height: 350px; background-image: url(http://placehold.it/2080x350);">
        <div class="container">
            <h1 class="big-caption">Coverage for every step of <em><strong>your</strong></em> journey!</h1>
            <h2 class="med-caption">We all know the unexpected can occur, even when you are travelling.</h2>
        </div>
    </div>
    <div class="tab-wrapper">
        <div class="tab-container container trans-style">
            <ul class="tabs no-padding">
                <li class="active"><a data-toggle="tab" href="#travel-insurance-get-free-quote"><i class="soap-icon-stories"></i>get A Free Quote</a></li>
                <li><a data-toggle="tab" href="#travel-insurance-manage-policy"><i class="soap-icon-card"></i>Manage your policy</a></li>
                <li><a data-toggle="tab" href="#travel-insurance-file-claim"><i class="soap-icon-insurance"></i>File a Claim</a></li>
                <li><a data-toggle="tab" href="#travel-insurance-medical"><i class="soap-icon-baggage-4"></i>Medical insurance</a></li>
            </ul>
            <div class="tab-content">
                <div id="travel-insurance-get-free-quote" class="tab-pane fade in active">
                    <form>
                        <div class="row">
                            <div class="form-group col-sms-5 col-sm-5 col-md-2">
                                <h4 class="f-title">What</h4>
                                <label>Policy Type</label>
                                <div class="selector">
                                    <select>
                                        <option value="">single trip</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sms-7 col-sm-7 col-md-3">
                                <h4 class="f-title">Where</h4>
                                <label>Destination</label>
                                <input type="text" class="input-text full-width" value="" placeholder="enter a city or country name">
                            </div>
                            <div class="form-group col-sms-4 col-sm-5 col-md-2">
                                <h4 class="f-title">When</h4>
                                <label>Departure</label>
                                <div class="datepicker-wrap">
                                    <input type="text" name="date_from" class="input-text full-width" placeholder="mm/dd/yy" />
                                </div>
                            </div>
                            <div class="form-group col-sms-4 col-sm-5 col-md-2">
                                <h4 class="f-title">&nbsp;</h4>
                                <label>Return</label>
                                <div class="datepicker-wrap">
                                    <input type="text" name="date_to" class="input-text full-width" placeholder="mm/dd/yy" />
                                </div>
                            </div>
                            <div class="form-group col-sms-4 col-sm-2 col-md-1">
                                <h4 class="f-title">Who</h4>
                                <label>No Of</label>
                                <div class="selector">
                                    <select>
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sms-12 col-sm-12 col-md-2">
                                <h4 class="f-title visible-md visible-lg">&nbsp;</h4>
                                <label>&nbsp;</label>
                                <button type="submit" class="full-width icon-check uppercase">Get a Free quote</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="travel-insurance-manage-policy" class="tab-pane fade">
                    
                </div>
                <div id="travel-insurance-file-claim" class="tab-pane fade">
                    
                </div>
                <div id="travel-insurance-medical" class="tab-pane fade">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container md-section">
        <div class="row">
            <div id="main" class="col-md-9">
                <div class="block">
                    <h2>Why Buy Travel Insurance?</h2>
                    <p>Travelo Insurance has been tailored to align with the specific needs of our travelers. For your convenience, trip insurance can be selected
during your flight purchase on travelo.com or you can learn more and get an instant quote above.</p>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="icon-box style7 box">
                            <i class="soap-icon-user"></i>
                            <div class="description">
                                <h4 class="box-title"><a href="#">Single Trip Plans &ndash; coverage for a single trip</a></h4>
                                <ul class="circle">
                                    <li>Trip Protector</li>
                                    <li>Rental Car Damage Protector</li>
                                </ul>
                                <a class="view" href="#">View Single Trip Plan Options »</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-box style7 box">
                            <i class="soap-icon-friends"></i>
                            <div class="description">
                                <h4 class="box-title"><a href="#">Multi-Trip (Annual) Plans &ndash; one plan to cover all the trips</a></h4>
                                <ul class="circle">
                                    <li>Best value for frequent travelers</li>
                                    <li>Coverage for non-award &amp; award travel</li>
                                </ul>
                                <a class="view" href="#">View Annual Trip Plan Options »</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="travelo-box box-full">
                    <div class="row">
                        <div class="col-sms-4 col-sm-4">
                            <article>
                                <figure class="small-box image-container">
                                    <img src="http://placehold.it/256x256" alt="">
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Long Trip Travel Insurance</h4>
                                    <p>Aged 18 to 64? Going to be spending three months to a year travelling or living abroad? Get all the cover you need while you’re away.</p>
                                    <a href="#" class="button btn-mini green">MORE</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-sms-4 col-sm-4">
                            <article>
                                <figure class="small-box image-container">
                                    <img src="http://placehold.it/256x256" alt="">
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Long Trip Travel Insurance</h4>
                                    <p>Aged 18 to 64? Going to be spending three months to a year travelling or living abroad? Get all the cover you need while you’re away.</p>
                                    <a href="#" class="button btn-mini green">MORE</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-sms-4 col-sm-4">
                            <article>
                                <figure class="small-box image-container">
                                    <img src="http://placehold.it/256x256" alt="">
                                </figure>
                                <div class="details">
                                    <h4 class="box-title">Long Trip Travel Insurance</h4>
                                    <p>Aged 18 to 64? Going to be spending three months to a year travelling or living abroad? Get all the cover you need while you’re away.</p>
                                    <a href="#" class="button btn-mini green">MORE</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar col-md-3">
                <div class="travelo-box insurance-benefits">
                    <h4 class="box-title">Insurance Benefits</h4>
                    <ul class="check hover box">
                        <li><a href="#">Online Policy Delivery</a></li>
                        <li><a href="#">Accident &amp; Liability</a></li>
                        <li><a href="#">Airline Failure Cover </a></li>
                        <li><a href="#">Baggage Cover </a></li>
                        <li><a href="#">Medical Expenses </a></li>
                        <li><a href="#">100 Sports &amp; Activities </a></li>
                        <li><a href="#">Kids Go FREE</a></li>
                    </ul>
                    <a href="#" class="button btn-mini">MORE</a>
                </div>
                <div class="travelo-box guarantee-box">
                    <img width="65" height="65" class="guarantee-image" alt="" src="http://placehold.it/65x65">
                    <h4>Satisfaction Guarantee</h4>
                    <p>Receive a refund on your travel insurance premium within 10 days of purchase.</p>
                </div>
                <div class="travelo-box contact-box">
                    <h4>Need Travelo Help?</h4>
                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                        <br>
                        <a class="contact-email" href="#">help@travelo.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>