<div class="car-list row image-box listing-style2">
  <% @cars.each do |c| %>
      <div class="col-sms-6 col-sm-6 col-md-4">
        <article class="box">
          <figure>
            <a href="car-detailed.html" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160"/></a>
          </figure>
          <div class="details">
            <a title="View Detailed" href="car-detailed.html" class="pull-right button btn-mini uppercase">select</a>
            <h4 class="box-title"><%= c.car_type %></h4>
            <label class="price-wrapper">
              <span class="price-per-unit"><%= c.per_day %></span>per day
            </label>
          </div>
        </article>
      </div>
  <% end %>
</div>
