<section id="content">
   <div class="search-box-wrapper">
        <div class="search-box container">
            <ul class="search-tabs clearfix">
                <li class="active"><a href="#hotels-tab" data-toggle="tab">HOTELS</a></li>
                <li><a href="#flights-tab" data-toggle="tab">FLIGHTS</a></li>
                <li><a href="#flight-and-hotel-tab" data-toggle="tab">FLIGHT &amp; HOTELS</a></li>
                <li><a href="#cars-tab" data-toggle="tab">CARS</a></li>
                <li><a href="#cruises-tab" data-toggle="tab">CRUISES</a></li>
                <li><a href="#flight-status-tab" data-toggle="tab">FLIGHT STATUS</a></li>
                <li><a href="#online-checkin-tab" data-toggle="tab">ONLINE CHECK IN</a></li>
            </ul>
            <div class="visible-mobile">
                <ul id="mobile-search-tabs" class="search-tabs clearfix">
                    <li class="active"><a href="#hotels-tab">HOTELS</a></li>
                    <li><a href="#flights-tab">FLIGHTS</a></li>
                    <li><a href="#flight-and-hotel-tab">FLIGHT &amp; HOTELS</a></li>
                    <li><a href="#cars-tab">CARS</a></li>
                    <li><a href="#cruises-tab">CRUISES</a></li>
                    <li><a href="#flight-status-tab">FLIGHT STATUS</a></li>
                    <li><a href="#online-checkin-tab">ONLINE CHECK IN</a></li>
                </ul>
            </div>
            
            <div class="search-tab-content">
                <div class="tab-pane fade active in" id="hotels-tab">
                    <form action="hotel-list-view.html" method="post">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-3">
                                <h4 class="title">Where</h4>
                                <label>Your Destination</label>
                                <input type="text" class="input-text full-width" placeholder="enter a destination or hotel name" />
                            </div>
                            
                            <div class="form-group col-sm-6 col-md-4">
                                <h4 class="title">When</h4>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Check In</label>
                                        <div class="datepicker-wrap">
                                            <input type="text" name="date_from" class="input-text full-width" placeholder="mm/dd/yy" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Check Out</label>
                                        <div class="datepicker-wrap">
                                            <input type="text" name="date_to" class="input-text full-width" placeholder="mm/dd/yy" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group col-sm-6 col-md-3">
                                <h4 class="title">Who</h4>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label>Rooms</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Adults</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <label>Kids</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group col-sm-6 col-md-2 fixheight">
                                <label class="hidden-xs">&nbsp;</label>
                                <button type="submit" class="full-width icon-check animated" data-animation-type="bounce" data-animation-duration="1">SEARCH NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="flights-tab">
                    <form action="flight-list-view.html" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="title">Where</h4>
                                <div class="form-group">
                                    <label>Leaving From</label>
                                    <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                </div>
                                <div class="form-group">
                                    <label>Going To</label>
                                    <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <h4 class="title">When</h4>
                                <label>Departing On</label>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <div class="datepicker-wrap">
                                            <input type="text" name="date_from" class="input-text full-width" placeholder="mm/dd/yy" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">anytime</option>
                                                <option value="2">morning</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <label>Arriving On</label>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <div class="datepicker-wrap">
                                            <input type="text" name="date_to" class="input-text full-width" placeholder="mm/dd/yy" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">anytime</option>
                                                <option value="2">morning</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <h4 class="title">Who</h4>
                                <div class="form-group row">
                                    <div class="col-xs-3">
                                        <label>Adults</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Kids</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Promo Code</label>
                                        <input type="text" class="input-text full-width" placeholder="type here" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-3">
                                        <label>Infants</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 pull-right">
                                        <label>&nbsp;</label>
                                        <button class="full-width icon-check">SERACH NOW</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane fade" id="flight-and-hotel-tab">
                    <form action="flight-list-view.html" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="title">Where</h4>
                                <div class="form-group">
                                    <label>Leaving From</label>
                                    <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                </div>
                                <div class="form-group">
                                    <label>Going To</label>
                                    <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <h4 class="title">When</h4>
                                <label>Departing On</label>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <div class="datepicker-wrap">
                                            <input type="text" name="date_from" class="input-text full-width" placeholder="mm/dd/yy" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">anytime</option>
                                                <option value="2">morning</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <label>Arriving On</label>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <div class="datepicker-wrap">
                                            <input type="text" name="date_to" class="input-text full-width" placeholder="mm/dd/yy" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">anytime</option>
                                                <option value="2">morning</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <h4 class="title">Who</h4>
                                <div class="form-group row">
                                    <div class="col-xs-3">
                                        <label>Adults</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Kids</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Promo Code</label>
                                        <input type="text" class="input-text full-width" placeholder="type here" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-3">
                                        <label>Rooms</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 pull-right">
                                        <label>&nbsp;</label>
                                        <button class="full-width icon-check">SERACH NOW</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane fade" id="cars-tab">
                    <form action="car-list-view.html" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="title">Where</h4>
                                <div class="form-group">
                                    <label>Pick Up</label>
                                    <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                </div>
                                <div class="form-group">
                                    <label>Drop Off</label>
                                    <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <h4 class="title">When</h4>
                                <div class="form-group">
                                    <label>Pick-Up Date / Time</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="datepicker-wrap">
                                                <input type="text" name="date_from" class="input-text full-width" placeholder="mm/dd/yy" />
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option value="1">anytime</option>
                                                    <option value="2">morning</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Drop-Off Date / Time</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="datepicker-wrap">
                                                <input type="text" name="date_to" class="input-text full-width" placeholder="mm/dd/yy" />
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="selector">
                                                <select class="full-width">
                                                    <option value="1">anytime</option>
                                                    <option value="2">morning</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <h4 class="title">Who</h4>
                                <div class="form-group row">
                                    <div class="col-xs-3">
                                        <label>Adults</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Kids</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Promo Code</label>
                                        <input type="text" class="input-text full-width" placeholder="type here" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label>Car Type</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="">select a car type</option>
                                                <option value="economy">Economy</option>
                                                <option value="compact">Compact</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>&nbsp;</label>
                                        <button class="full-width icon-check">SERACH NOW</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane fade" id="cruises-tab">
                    <form action="cruise-list-view.html" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="title">Where</h4>
                                <div class="form-group">
                                    <label>Your Destination</label>
                                    <input type="text" class="input-text full-width" placeholder="enter a destination or hotel name" />
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <h4 class="title">When</h4>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label>Departure Date</label>
                                        <div class="datepicker-wrap">
                                            <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Cruise Length</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="">select length</option>
                                                <option value="1">1-2 Nights</option>
                                                <option value="2">3-4 Nights</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <h4 class="title">Who</h4>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label>Cruise Line</label>
                                        <div class="selector">
                                            <select class="full-width">
                                                <option value="">select cruise line</option>
                                                <option>Azamara Club Cruises</option>
                                                <option>Carnival Cruise Lines</option>
                                                <option>Celebrity Cruises</option>
                                                <option>Costa Cruise Lines</option>
                                                <option>Cruise &amp; Maritime Voyages</option>
                                                <option>Crystal Cruises</option>
                                                <option>Cunard Line Ltd.</option>
                                                <option>Disney Cruise Line</option>
                                                <option>Holland America Line</option>
                                                <option>Hurtigruten Cruise Line</option>
                                                <option>MSC Cruises</option>
                                                <option>Norwegian Cruise Line</option>
                                                <option>Oceania Cruises</option>
                                                <option>Orion Expedition Cruises</option>
                                                <option>P&amp;O Cruises</option>
                                                <option>Paul Gauguin Cruises</option>
                                                <option>Peter Deilmann Cruises</option>
                                                <option>Princess Cruises</option>
                                                <option>Regent Seven Seas Cruises</option>
                                                <option>Royal Caribbean International</option>
                                                <option>Seabourn Cruise Line</option>
                                                <option>Silversea Cruises</option>
                                                <option>Star Clippers</option>
                                                <option>Swan Hellenic Cruises</option>
                                                <option>Thomson Cruises</option>
                                                <option>Viking River Cruises</option>
                                                <option>Windstar Cruises</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>&nbsp;</label>
                                        <button class="icon-check full-width">SEARCH NOW</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane fade" id="flight-status-tab">
                    <form action="flight-list-view.html" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Where</h4>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label>Leaving From</label>
                                        <input type="text" class="input-text full-width" placeholder="enter a city or place name" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Going To</label>
                                        <input type="text" class="input-text full-width" placeholder="enter a city or place name" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-md-2">
                                <h4 class="title">When</h4>
                                <div class="form-group">
                                    <label>Departure Date</label>
                                    <div class="datepicker-wrap">
                                        <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-md-2">
                                <h4 class="title">Who</h4>
                                <div class="form-group">
                                    <label>Flight Number</label>
                                    <input type="text" class="input-text full-width" placeholder="enter flight number" />
                                </div>
                            </div>
                            <div class="form-group col-md-2 fixheight">
                                <label class="hidden-xs">&nbsp;</label>
                                <button class="icon-check full-width">SEARCH NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="tab-pane fade" id="online-checkin-tab">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Where</h4>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label>Leaving From</label>
                                        <input type="text" class="input-text full-width" placeholder="enter a city or place name" />
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Going To</label>
                                        <input type="text" class="input-text full-width" placeholder="enter a city or place name" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-md-2">
                                <h4 class="title">When</h4>
                                <div class="form-group">
                                    <label>Departure Date</label>
                                    <div class="datepicker-wrap">
                                        <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-md-2">
                                <h4 class="title">Who</h4>
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input type="text" class="input-text full-width" placeholder="enter your full name" />
                                </div>
                            </div>
                            <div class="form-group col-md-2 fixheight">
                                <label class="hidden-xs">&nbsp;</label>
                                <button class="icon-check full-width">SEARCH NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section gray-area text-left">
        <div class="container">
            <div class="block">
                <div class="row image-box style10">
                    <div class="col-md-4">
                        <article class="box">
                            <figure class="animated" data-animation-type="fadeInRight">
                                <a class="hover-effect" title="" href="car-detailed.html"><img width="370" height="132" alt="" src="http://placehold.it/370x132"></a>
                            </figure>
                            <div class="details">
                                <a href="car-detailed.html" class="button">MORE</a>
                                <h4 class="box-title">Driven to save?<br><small>Save up to 35%</small></h4>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="box">
                            <figure class="animated" data-animation-type="fadeInRight" data-animation-delay="0.3">
                                <a class="hover-effect" title="" href="car-detailed.html"><img width="370" height="132" alt="" src="http://placehold.it/370x132"></a>
                            </figure>
                            <div class="details">
                                <a href="car-detailed.html" class="button">MORE</a>
                                <h4 class="box-title">Room to relax<br><small>Earn 250 miles</small></h4>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="box">
                            <figure class="animated" data-animation-type="fadeInRight" data-animation-delay="0.6">
                                <a class="hover-effect" title="" href="car-detailed.html"><img width="370" height="132" alt="" src="http://placehold.it/370x132"></a>
                            </figure>
                            <div class="details">
                                <a href="car-detailed.html" class="button">MORE</a>
                                <h4 class="box-title">Last Minute Car Deals<br><small>Get best car rental deals</small></h4>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <h2>Top Hire Cars</h2>
            <div class="block image-carousel style2 flexslider" data-animation="slide" data-item-width="270" data-item-margin="30">
                <ul class="slides image-box style1">
                    <li>
                        <article class="box">
                            <figure>
                                <a class="hover-effect" title="" href="car-detailed.html"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details">
                                <span class="price"><small>FROM</small>$90</span>
                                <h4 class="box-title">Intermediate<small>Per Day</small></h4>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a class="hover-effect" title="" href="car-detailed.html"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details">
                                <span class="price"><small>FROM</small>$23</span>
                                <h4 class="box-title">Economy<small>Per Day</small></h4>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a class="hover-effect" title="" href="car-detailed.html"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details">
                                <span class="price"><small>FROM</small>$46</span>
                                <h4 class="box-title">Mini<small>Per Day</small></h4>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a class="hover-effect" title="" href="car-detailed.html"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details">
                                <span class="price"><small>FROM</small>$55</span>
                                <h4 class="box-title">Compact<small>Per Day</small></h4>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure>
                                <a class="hover-effect" title="" href="car-detailed.html"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details">
                                <span class="price"><small>FROM</small>$90</span>
                                <h4 class="box-title">Intermediate<small>Per Day</small></h4>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
            
            <div class="block row">
                <div class="col-md-4">
                    <h2>Last Minute Deals</h2>
                    <div class="travelo-box image-box style13">
                        <div class="box">
                            <figure>
                                <img width="63" height="59" alt="" src="http://placehold.it/63x59">
                            </figure>
                            <div class="action">
                                <span class="price"><small>per 3 day</small>$35</span>
                            </div>
                            <div class="details">
                                <h4 class="box-title"><a href="#">Intermediate<small>Renault grand scenic</small></a></h4>
                                <span class="time skin-color"><i class="soap-icon-clock"></i>24 hours remaining</span>
                            </div>
                        </div>
                        <hr>
                        <div class="box">
                            <figure>
                                <img width="63" height="59" alt="" src="http://placehold.it/63x59">
                            </figure>
                            <div class="action">
                                <span class="price"><small>per 2 day</small>$26</span>
                            </div>
                            <div class="details">
                                <h4 class="box-title"><a href="#">Luxury Elite<small>bmw 5 series</small></a></h4>
                                <span class="time skin-color"><i class="soap-icon-clock"></i>38 minutes remaining</span>
                            </div>
                        </div>
                        <hr>
                        <div class="box">
                            <figure>
                                <img width="63" height="59" alt="" src="http://placehold.it/63x59">
                            </figure>
                            <div class="action">
                                <span class="price"><small>per day</small>$49</span>
                            </div>
                            <div class="details">
                                <h4 class="box-title"><a href="#">Economy Car<small>vokswagen polo</small></a></h4>
                                <span class="time skin-color"><i class="soap-icon-clock"></i>24 hours remaining</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Why Book with us?</h2>
                    <div class="travelo-box book-with-us-box">
                        <ul>
                            <li>
                                <i class="soap-icon-car circle"></i>
                                <h5 class="title"><a href="#">135,00+ Cars</a></h5>
                                <p>Nulla congue at lacus vitae vestibulum. Donec lorem felis, eleifend eget consequat quis.</p>
                            </li>
                            <li>
                                <i class="soap-icon-savings circle"></i>
                                <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                <p>Nulla congue at lacus vitae vestibulum. Donec lorem felis, eleifend eget consequat quis.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Support</a></h5>
                                <p>Nulla congue at lacus vitae vestibulum. Donec lorem felis, eleifend eget consequat quis.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Explore More</h2>
                    <div class="travelo-box explore-more image-box style5 clearfix">
                        <div class="icon-box intro">
                            <i class="soap-icon-recommend circle"></i>
                            <h5 class="box-title"><small>Recommended for you!</small>Car Packages Starting at $35.99</h5>
                        </div>
                        <article class="box animated" data-animation-type="fadeIn" data-animation-delay="0">
                            <figure>
                                <a title="" href="car-detailed.html"><img width="183" height="120" alt="" src="http://placehold.it/183x120"></a>
                                <figcaption>
                                    <h6 class="caption-title">Elite</h6>
                                    <span>Fiat 500</span>
                                </figcaption>
                            </figure>
                        </article>
                        <article class="box animated" data-animation-type="fadeIn" data-animation-delay="0.3">
                            <figure>
                                <a title="" href="car-detailed.html"><img width="183" height="120" alt="" src="http://placehold.it/183x120"></a>
                                <figcaption>
                                    <h6 class="caption-title">Mini</h6>
                                    <span>BMW 5 S</span>
                                </figcaption>
                            </figure>
                        </article>
                        <article class="box animated" data-animation-type="fadeIn" data-animation-delay="0.6">
                            <figure>
                                <a title="" href="car-detailed.html"><img width="183" height="120" alt="" src="http://placehold.it/183x120"></a>
                                <figcaption>
                                    <h6 class="caption-title">luxury</h6>
                                    <span>BMW 7 s</span>
                                </figcaption>
                            </figure>
                        </article>
                        <article class="box animated" data-animation-type="fadeIn" data-animation-delay="0.9">
                            <figure>
                                <a title="" href="car-detailed.html"><img width="183" height="120" alt="" src="http://placehold.it/183x120"></a>
                                <figcaption>
                                    <h6 class="caption-title">Elite</h6>
                                    <span>Holden 6</span>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="table-wrapper hidden-table-sm">
                <div class="content-section description pull-right col-sm-9">
                    <div class="table-wrapper hidden-table-sm">
                        <div class="table-cell">
                            <h2 class="m-title">
                                Tell us where you would like to go.<br /><em>3,000+ VIP Transport Options!</em>
                            </h2>
                        </div>
                        <div class="table-cell action-section col-md-4 no-float">
                            <form method="post" action="car-list-view.html">
                                <div class="row">
                                    <div class="col-xs-6 col-md-12">
                                        <input type="text" class="input-text input-large full-width" value="" placeholder="Enter destination or hotel name" />
                                    </div>
                                    <div class="col-xs-6 col-md-12">
                                        <button class="full-width btn-large">search options</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="image-container col-sm-4">
                    <img width="292" height="269" alt="" src="http://placehold.it/292x270" class="animated" data-animation-type="fadeInUp">
                </div>
            </div>
        </div>
    </div>
</section>