<section id="content" class="gray-area">
    <div class="container">
            <div id="main">
            <div class="row">
              <%= render partial: 'spree/cars/filter' %>
                <div class="col-sm-8 col-md-9">
                    <%= render partial: 'spree/cars/sort_by' %>
                    <div class="car-list listing-style3 car">
                        <article class="box">
                            <figure class="col-xs-3">
                                <span><img alt="" src="http://placehold.it/270x160"></span>
                            </figure>
                            <div class="details col-xs-9 clearfix">
                                <div class="col-sm-8">
                                    <div class="clearfix">
                                        <h4 class="box-title">Economy Car<small>bmw mini</small></h4>
                                        <div class="logo">
                                            <img src="http://placehold.it/110x25" alt="" />
                                        </div>
                                    </div>
                                    <div class="amenities">
                                        <ul>
                                            <li><i class="soap-icon-user circle"></i>4</li>
                                            <li><i class="soap-icon-suitcase circle"></i>3</li>
                                            <li><i class="soap-icon-aircon circle"></i>AC</li>
                                            <li><i class="soap-icon-fueltank circle"></i>12</li>
                                            <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-2 character">
                                    <dl class="">
                                        <dt class="skin-color">mileage</dt><dd>3000 miles</dd>
                                        <dt class="skin-color">Pickup Time</dt><dd>5:45 pm</dd>
                                        <dt class="skin-color">Location</dt><dd>London city</dd>
                                    </dl>
                                </div>
                                <div class="action col-xs-6 col-sm-2">
                                    <span class="price"><small>per day</small>$45.39</span>
                                    <a href="car-detailed.html" class="button btn-small full-width">select</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <a href="#" class="button uppercase full-width btn-large">load more listings</a>
                </div>
            </div>
        </div>
    </div>
</section>