<script id="products-view-as-block" type="text/html">
  <div class="row image-box hotel listing-style2">
    {{#items}}
        <div class="col-sms-6 col-sm-6 col-md-4">
          <article class="box">
            <figure>
              <div title="{{title}}" class="hover-effect">
                <img id="product-gallery-{{id}}" src="{{image}}"/>
              </div>
            </figure>
            <div class="details">
              <a href="#details" class="product-details pull-right button uppercase"
                 title="View all details" data-item="{{id}}">select</a>
              <h4 class="box-title">
                <a class="product-details" href="#details"
                   title="View all details" data-item="{{id}}">{{name}}</a>
              </h4>
              <label class="price-wrapper">
                <span class="price-per-unit">{{price}}</span>avg/night
              </label>
            </div>
          </article>
        </div>
    {{/items}}
  </div>
</script>
