<script id="products-view-as-grid" type="text/html">
  <div class="row image-box hotel listing-style1">
    {{#items}}
    <div class="col-sm-6 col-md-4">
      <article class="box">
        <figure>
          <div id="product-gallery-{{id}}" title="{{title}}" class="hover-effect">
            <img src="{{image}}"/>
          </div>
        </figure>
        <div class="details">
          <span class="price"><small>AVG/NIGHT</small>{{price}}</span>
          <h4 class="box-title">
            <a href="#details" class="product-details" title="View all details" data-item="{{id}}">{{name}}</a>
            <small>
              <i class="soap-icon-departure yellow-color"></i>
              <span>{{destination.name}}</span>
            </small>
          </h4>
          <div class="feedback">
            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars">
              <span style="width: {{_stars_}}%;" class="five-stars"></span></div>
            <span class="review">270 reviews</span>
          </div>
          <ul>
            {{#properties}}
            <li><label>{{pretty_name}}:</label>&nbsp;<span>{{value}}</span></li>
            {{/properties}}
          </ul>
          <div class="action">
            <a class="product-details button btn-small" href="#details"
               title="View all details" data-item="{{id}}">SELECT</a>
            <a class="button btn-small yellow popup-map" href="#" data-box="48.856614, 2.352222">VIEW ON MAP</a>
          </div>
        </div>
      </article>
    </div>
    {{/items}}
  </div>
</script>