<script id="houses-list" type="text/html">
  <div class="hotel-list listing-style3 hotel">
    {{#items}}
    <article class="box">
      <figure class="col-sm-5 col-md-4">
        <div title="{{title}}" class="hover-effect">
          <img id="product-gallery-{{id}}" src="{{image}}"/>
        </div>
      </figure>
      <div class="details col-sm-7 col-md-8">
        <div>
          <div>
            <h4 class="box-title">
              <a href="#" title="{{title}}">{{name}}</a>
              <small>
                <i class="soap-icon-departure yellow-color"></i>
                <span>{{destination.name}}</span>
              </small>
            </h4>
            <div class="amenities">
              <i class="soap-icon-wifi circle"></i>
              <i class="soap-icon-fitnessfacility circle"></i>
              <i class="soap-icon-fork circle"></i>
              <i class="soap-icon-television circle"></i>
            </div>
          </div>
          <div>
            <div class="five-stars-container">
              <span class="five-stars" style="width: {{_stars_}}%"></span>
            </div>
            <span class="review">270 reviews</span>
          </div>
        </div>
        <div>
          {{#properties}}
          <ul>
            <li><label>House type:</label>&nbsp;<span>{{house_type}}</span></li>
            <li><label>Owner:</label>&nbsp;<span>{{owner}}</span></li>
            <li><label>Rooms:</label>&nbsp;<span>{{rooms}}</span></li>
          </ul>
          {{/properties}}
          <div>
            <span class="price"><small>AVG/NIGHT</small>{{price}}</span>
            <a class="button btn-small full-width text-center" title="" href="hotel-detailed.html">SELECT</a>
          </div>
        </div>
      </div>
    </article>
    {{/items}}
  </div>
</script>