<div class="page-title pull-left">
    <h2 class="entry-title">Hotel Search Results</h2>
</div>
<ul class="breadcrumbs pull-right">
    <li><a href="#">HOME</a></li>
    <li class="active">Hotel Search Results</li>
</ul>