<section id="content">
    <div class="container">
        <div id="main">
            <div class="page">
                <span style="display: none;" class="entry-title page-title">Blog Full Width</span>
                <span style="display: none;" class="vcard"><span class="fn"><a rel="author" title="Posts by admin" href="#">admin</a></span></span>
                <span style="display:none;" class="updated">2014-06-20T13:35:34+00:00</span>
                <div class="post-content">
                    <div class="blog-infinite">
                        <div class="post">
                            <div class="post-content-wrapper">
                                <figure class="image-container">
                                    <a href="pages-blog-read.html" class="hover-effect"><img src="http://placehold.it/1170x342" alt="" /></a>
                                </figure>
                                <div class="details">
                                    <h2 class="entry-title"><a href="pages-blog-read.html">Standard single image post</a></h2>
                                    <div class="excerpt-container">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nis type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                    <div class="post-meta">
                                        <div class="entry-date">
                                            <label class="date">29</label>
                                            <label class="month">Aug</label>
                                        </div>
                                        <div class="entry-author fn">
                                            <i class="icon soap-icon-user"></i> Posted By:
                                            <a href="#" class="author">Jessica Browen</a>
                                        </div>
                                        <div class="entry-action">
                                            <a href="#" class="button entry-comment btn-small"><i class="soap-icon-comment"></i><span>30 Comments</span></a>
                                            <a href="#" class="button btn-small"><i class="soap-icon-wishlist"></i><span>22 Likes</span></a>
                                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post-content-wrapper">
                                <div class="flexslider photo-gallery style3">
                                    <ul class="slides">
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="details">
                                    <h2 class="entry-title"><a href="pages-blog-read.html">Slideshow post with slider</a></h2>
                                    <div class="excerpt-container">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nis type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                    <div class="post-meta">
                                        <div class="entry-date">
                                            <label class="date">29</label>
                                            <label class="month">Aug</label>
                                        </div>
                                        <div class="entry-author fn">
                                            <i class="icon soap-icon-user"></i> Posted By:
                                            <a href="#" class="author">Jessica Browen</a>
                                        </div>
                                        <div class="entry-action">
                                            <a href="#" class="button entry-comment btn-small"><i class="soap-icon-comment"></i><span>30 Comments</span></a>
                                            <a href="#" class="button btn-small"><i class="soap-icon-wishlist"></i><span>22 Likes</span></a>
                                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post-content-wrapper">
                                <div class="video-container">
                                    <div class="full-video">
                                        <iframe src="http://www.youtube.com/embed/mcixldqDIEQ?wmode=transparent" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="details">
                                    <h2 class="entry-title"><a href="pages-blog-read.html">Travelo 1 minute video post</a></h2>
                                    <div class="excerpt-container">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nis type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                    <div class="post-meta">
                                        <div class="entry-date">
                                            <label class="date">29</label>
                                            <label class="month">Aug</label>
                                        </div>
                                        <div class="entry-author fn">
                                            <i class="icon soap-icon-user"></i> Posted By:
                                            <a href="#" class="author">Jessica Browen</a>
                                        </div>
                                        <div class="entry-action">
                                            <a href="#" class="button entry-comment btn-small"><i class="soap-icon-comment"></i><span>30 Comments</span></a>
                                            <a href="#" class="button btn-small"><i class="soap-icon-wishlist"></i><span>22 Likes</span></a>
                                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post-content-wrapper">
                                <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1">
                                    <ul class="slides">
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="flexslider image-carousel style1" id="post-carousel1"  data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                                    <ul class="slides">
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                        <li><img src="http://placehold.it/70x70" alt="" /></li>
                                    </ul>
                                </div>
                                <div class="details">
                                    <h2 class="entry-title"><a href="pages-blog-read.html">Gallery post with slider</a></h2>
                                    <div class="excerpt-container">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nis type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                    <div class="post-meta">
                                        <div class="entry-date">
                                            <label class="date">29</label>
                                            <label class="month">Aug</label>
                                        </div>
                                        <div class="entry-author fn">
                                            <i class="icon soap-icon-user"></i> Posted By:
                                            <a href="#" class="author">Jessica Browen</a>
                                        </div>
                                        <div class="entry-action">
                                            <a href="#" class="button entry-comment btn-small"><i class="soap-icon-comment"></i><span>30 Comments</span></a>
                                            <a href="#" class="button btn-small"><i class="soap-icon-wishlist"></i><span>22 Likes</span></a>
                                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post without-featured-item">
                            <div class="post-content-wrapper">
                                <div class="details">
                                    <h2 class="entry-title"><a href="pages-blog-read.html">Post without a featured image</a></h2>
                                    <div class="excerpt-container">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nis type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                    <div class="post-meta">
                                        <div class="entry-date">
                                            <label class="date">29</label>
                                            <label class="month">Aug</label>
                                        </div>
                                        <div class="entry-author fn">
                                            <i class="icon soap-icon-user"></i> Posted By:
                                            <a href="#" class="author">Jessica Browen</a>
                                        </div>
                                        <div class="entry-action">
                                            <a href="#" class="button entry-comment btn-small"><i class="soap-icon-comment"></i><span>30 Comments</span></a>
                                            <a href="#" class="button btn-small"><i class="soap-icon-wishlist"></i><span>22 Likes</span></a>
                                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post">
                            <div class="post-content-wrapper">
                                <div class="flexslider photo-gallery style4">
                                    <ul class="slides">
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                        <li><a href="pages-blog-read.html"><img src="http://placehold.it/1170x342" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="details">
                                    <h2 class="entry-title"><a href="pages-blog-read.html">Slideshow post without slider</a></h2>
                                    <div class="excerpt-container">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nis type specimen book. It has survived not only five centuries.</p>
                                    </div>
                                    <div class="post-meta">
                                        <div class="entry-date">
                                            <label class="date">29</label>
                                            <label class="month">Aug</label>
                                        </div>
                                        <div class="entry-author fn">
                                            <i class="icon soap-icon-user"></i> Posted By:
                                            <a href="#" class="author">Jessica Browen</a>
                                        </div>
                                        <div class="entry-action">
                                            <a href="#" class="button entry-comment btn-small"><i class="soap-icon-comment"></i><span>30 Comments</span></a>
                                            <a href="#" class="button btn-small"><i class="soap-icon-wishlist"></i><span>22 Likes</span></a>
                                            <span class="entry-tags"><i class="soap-icon-features"></i><span><a href="#">Adventure</a>, <a href="#">Romance</a></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="button btn-large full-width">LOAD MORE POSTS</a>
                </div>
            </div>
        </div>
    </div>
</section>