<section id="content">
    <div class="container">
        <div id="main">
            <h1 class="logo box">
                <a href="index.html" title="Travelo - home">
                    <%= image_tag 'logo2' %>
                </a>
            </h1>
            <div class="text-center white-color header-title" style="">We’ll be <i>live</i> soon!</div>
            <p class="white-color box" style="font-size: 1.3333em;">We are currently working on an awesome new site for you!</p>
                
            <div class="box">
                <ul class="clock clearfix">
                    <li>
                        <span class="remaining-days">00</span>
                        <label>Days</label>
                    </li>
                    <li class="sep">:</li>
                    <li>
                        <span class="remaining-hours">00</span>
                        <label>hours</label>
                    </li>
                    <li class="sep">:</li>
                    <li>
                        <span class="remaining-minutes">00</span>
                        <label>minutes</label>
                    </li>
                    <li class="sep">:</li>
                    <li>
                        <span class="remaining-seconds">00</span>
                        <label>seconds</label>
                    </li>
                </ul>
            </div>
            <form class="block">
                <div class="with-icon email-notify input-large">
                    <input type="text" class="input-text full-width input-large" placeholder="enter your email to get notified">
                    <button class="icon"><i class="soap-icon-check"></i></button>
                </div>
            </form>
            <ul class="social-icons clearfix inline-block box">
                <li><a href="#" title="Twitter" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                <li><a href="#" title="GooglePlus" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                <li><a href="#" title="Facebook" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                <li><a href="#" title="Linkedin" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                <li><a href="#" title="Vimeo" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                <li><a href="#" title="Dribble" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                <li><a href="#" title="Flickr" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
            </ul>
            <div class="copyright">
                <p>&copy; 2014 Travelo</p>
            </div>
        </div>
        <img src="http://placehold.it/1030x540" alt="" class="couple animated" data-animation-type="slideInLeft" data-animation-duration="2">
    </div>
</section>