<section id="content">
    <div class="container">
        <div id="main">
            <h1 class="logo block">
                <a href="index.html" title="Travelo - home">
                    <img src="images/logo2.png" alt="Travelo HTML5 Template" />
                </a>
            </h1>
            <div class="text-center white-color block" style="font-size: 2.5em; font-weight: bold; line-height: 1em; text-shadow: 1px 6px 6px rgba(0, 0, 0, 0.3);">We’ll be <i>live</i> soon!</div>
            <div class="col-lg-10 no-float no-padding center-block">
                <ul class="clock block clearfix">
                    <li>
                        <span class="remaining-days">00</span>
                        <label>Days</label>
                    </li>
                    <li class="sep">:</li>
                    <li>
                        <span class="remaining-hours">00</span>
                        <label>hours</label>
                    </li>
                    <li class="sep">:</li>
                    <li>
                        <span class="remaining-minutes">00</span>
                        <label>minutes</label>
                    </li>
                    <li class="sep">:</li>
                    <li>
                        <span class="remaining-seconds">00</span>
                        <label>seconds</label>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-6 no-float no-padding center-block">
                <form class="block">
                    <div class="with-icon email-notify input-large full-width">
                        <input type="text" class="input-text full-width input-large" placeholder="enter your email">
                        <span class="notified-text">get notified<small>|</small></span>
                        <button class="icon"><i class="soap-icon-check"></i></button>
                    </div>
                </form>
            </div>
            <ul class="social-icons clearfix inline-block box">
                <li><a href="#" title="Twitter" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                <li><a href="#" title="GooglePlus" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                <li><a href="#" title="Facebook" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                <li><a href="#" title="Linkedin" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                <li><a href="#" title="Vimeo" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                <li><a href="#" title="Dribble" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                <li><a href="#" title="Flickr" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
            </ul>
            <div class="copyright">
                <p>&copy; 2014 Travelo</p>
            </div>
        </div>
    </div>
</section>