<section id="content" class="white-bg">
    <div class="container">
        <div id="main">
            <div class="col-md-9 no-float no-padding center-block">
                <div class="intro text-center block">
                    <h2>Send us a Message</h2>
                    <p>Etiam gravida ac mi ut posuere. Nunc laoreet nulla a porttitor volutpat. Praesent in rutrum justo, in fermentum nulla. Ut vel nulla tincidunt, lobortis tortor eu, venenatis ligula. Vivamus laoreet leo nulla, nec venenatis erat laoreet et. Integer tincidunt nulla at leo dignissim, ut iaculis libero mattis.</p>
                </div>
                 <form class="contact-form" action="contact-us-handler.php" method="post">
                    <div class="row form-group">
                        <div class="col-xs-6">
                            <label>Your Name</label>
                            <input type="text" name="name" class="input-text full-width">
                        </div>
                        <div class="col-xs-6">
                            <label>Your Email</label>
                            <input type="text" name="email" class="input-text full-width">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-6">
                            <label>Subject</label>
                            <input type="text" name="subject" class="input-text full-width">
                        </div>
                        <div class="col-xs-6">
                            <label>Website</label>
                            <input type="text" name="website" class="input-text full-width">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your Message</label>
                        <textarea name="message" rows="6" class="input-text full-width" placeholder="write message here"></textarea>
                    </div>
                    <button type="submit" class="btn-large full-width">SEND MESSAGE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="global-map-area section contact-details parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon-box style10 phone">
                        <i class="soap-icon-phone"></i>
                        <small>We are on 24/7</small>
                        <h4 class="box-title">1-800-123-HELLO</h4>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box style10 email">
                        <i class="soap-icon-message"></i>
                        <small>Send us email on</small>
                        <h4 class="box-title">Help@Travelo.com</h4>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box style10 address">
                        <i class="soap-icon-address"></i>
                        <small>Meet us now</small>
                        <h4 class="box-title">USA, P.O Box, 353 Three Avenue</h4>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>