<section id="content">
    <div class="container">
        <div id="main">
            <h1 class="logo">
                <a href="index.html" title="Travelo - home">
                    <%= image_tag 'logo2' %>
                </a>
            </h1>
            <div class="error-message"><strong>Error 404:</strong> Page not found</div>
            <div class="error-message-404">
                <img src="images/404-style1.png" alt="">
            </div>
            <a href="#" class="button go-back"><i class="soap-icon-longarrow-left circle"></i>GO BACK TO HOME</a>
        </div>
    </div>
</section>