<section id="content">
    <div class="container">
        <div id="main">
            <h1 class="logo">
                <a href="index.html" title="Travelo - home">
                    <img src="images/logo2.png" alt="Travelo HTML5 Template" />
                </a>
            </h1>
            <div class="error-message">Your search didn’t have any results, <br>please search again or go back.</div>
            <div class="error-message-404"><strong>Error 404:</strong> Page not found!</div>
            <form>
                <div class="with-icon col-xs-10 col-md-6 col-lg-5 no-float center-block block">
                    <input type="text" class="input-text input-large full-width" placeholder="search again">
                    <button class="icon"><i class="soap-icon-search"></i></button>
                </div>
            </form>
            <a href="#" class="button go-back"><i class="soap-icon-longarrow-left"></i>GO BACK</a>
        </div>
        <img class="girl animated" src="http://placehold.it/468x360" alt="" data-animation-type="fadeInRight">
    </div>
</section>