<section id="content">
    <div class="container">
        <div id="main" class="faqs style1">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="travelo-box search-questions">
                        <h5 class="box-title">Search Questions</h5>
                        <form>
                            <div class="with-icon full-width">
                                <input type="text" class="input-text full-width" placeholder="type question here">
                                <button class="icon green-bg white-color"><i class="soap-icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="travelo-box filters-container faq-topics">
                        <h4 class="box-title">FAQ Topics</h4>
                        <ul class="triangle filters-option">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Sliders</a></li>
                            <li class="active"><a href="#">Manage Listings</a></li>
                            <li><a href="#">Address &amp; Map</a></li>
                            <li><a href="#">Reservation Requests</a></li>
                            <li><a href="#">Your Reservations</a></li>
                            <li><a href="#">Search Results</a></li>
                            <li><a href="#">Color Schemes</a></li>
                            <li><a href="#">Responsiveness</a></li>
                            <li><a href="#">Page Builder</a></li>
                            <li><a href="#">Travelo Support</a></li>
                            <li><a href="#">Footer &amp; headers</a></li>
                            <li><a href="#">Other Questions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <h2>Manage Listings</h2>
                    <div class="travelo-box question-list">
                        <div class="toggle-container">
                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#tgg1" class="collapsed">How do I edit my listing?</a>
                                </h4>
                                <div id="tgg1" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#tgg2">How do I edit my pricing settings? </a>
                                </h4>
                                <div id="tgg2" class="panel-collapse collapse in">
                                    <div class="panel-content">
                                        <p>Integer enim odio, condimentum et mollis sit amet, consectetur eu dolor. Pellentesque egestas molestie urna vel luct. Phasellus non libero in lorem tincidunt semper. Sed risus enim, fringilla id consectetur sed, lacinia nec odio. Curabitur eget risus arcu usce consectetur tellus id lorem luctus id eleifend magna lobortis. Aliquam facilisis magna ac nisi porta porta. In hac habitasse platea dictumst ellentesque egestas molestie urna vel luct. Phasellus non libero in lorem tincidunt semper. <i class="skin-color">Sed risus enim</i>, fringilla id consectetur sed, lacinia nec odio urabitur eget risus arcu fusce consectetur tellus id lorem luctus id eleifend magna lobortis. Aliquam facilisis magna ac nisi porta porta. In hac habitasse platea dictumst ellentesque egestas molestie urna vel luct.</p>
                                        <p>Phasellus non <strong class="dark-blue-color">libero in lorem tincidunt semper</strong>. Sed risus enim, fringilla id consectetur sed, lacinia nec odio. Curabitur eget risus arcu.Fusce consectetur tellus id lorem luctus id eleifend magna lobortis. Aliquam facilisis magna ac nisi porta porta. In hac habitasse platea dictumst. </p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#tgg3" class="collapsed">How can I manage Instant Book settings? </a>
                                </h4>
                                <div id="tgg3" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#tgg4" class="collapsed">How do I list multiple rooms? </a>
                                </h4>
                                <div id="tgg4" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#tgg5" class="collapsed">How do I use my calendar? </a>
                                </h4>
                                <div id="tgg5" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#tgg6" class="collapsed">How do I edit my calendar? </a>
                                </h4>
                                <div id="tgg6" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#tgg7" class="collapsed">Why was my listing deactivated? </a>
                                </h4>
                                <div id="tgg7" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#tgg8" class="collapsed">How do I turn off or delete my listing? </a>
                                </h4>
                                <div id="tgg8" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>