<div class="container">
        <h1 class="logo block">
            <a href="index.html" title="Travelo - home">
                <img src="images/logo2.png" alt="Travelo HTML5 Template" />
            </a>
        </h1>
        <div class="loading-progress-bar block col-sm-10 col-md-9 col-lg-8">
            <div class="loading-progress" style="width: 50%;"></div>
        </div>
        <span class="loading-text">Loading...</span>
</div>