<div class="container">
    <div class="loading-page-content table-wrapper full-width">
        <div class="table-cell" style="vertical-align: middle;">
            <h1 class="logo block">
                <a href="index.html" title="Travelo - home">
                    <img src="images/logo2.png" alt="Travelo HTML5 Template" />
                </a>
            </h1>
            <div class="loading-text block">Website is Loading...</div>
            <div class="loading-progress-bar block col-sms-10 col-sm-8 col-md-6">
                <div class="loading-progress" style="width: 69%;"></div>
                <div class="loading-percent">69%</div>
            </div>
        </div>
    </div>
    <img src="http://placehold.it/530x600" alt="" class="bottom-image animated" data-animation-type="fadeInUp" data-animation-duration="3">
</div>