<section id="content">
    <div class="container">
        <div id="main">
            <h2>Photo Gallery Full View</h2>
            <div id="gallery" class="flexslider photo-gallery style2 block" data-fix-control-nav-pos="1">
                <ul class="slides image-box style9">
                    <li>
                        <article class="box">
                            <figure><img src="http://placehold.it/1170x560" alt=""></figure>
                            <div class="details">
                                <h2 class="box-title"><span class="no-letter-spacing">Beauty of Venice</span><small class="skin-color">island, Beach</small></h2>
                                <p class="description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure><img src="http://placehold.it/1170x560" alt=""></figure>
                            <div class="details">
                                <h2 class="box-title"><span class="no-letter-spacing">Beauty of Venice</span><small class="skin-color">island, Beach</small></h2>
                                <p class="description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="box">
                            <figure><img src="http://placehold.it/1170x560" alt=""></figure>
                            <div class="details">
                                <h2 class="box-title"><span class="no-letter-spacing">Beauty of Venice</span><small class="skin-color">island, Beach</small></h2>
                                <p class="description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>

            <h2>Related Photos</h2>
            <div class="items-container row image-box style9">
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="370" height="190" alt="" src="http://placehold.it/370x190"></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Family Beach Tour<small>Island, Beach</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="370" height="190" alt="" src="http://placehold.it/370x190"></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">La Degue Island<small>Island, Beach</small></h4>
                        </div>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="box">
                        <figure>
                            <a class="hover-effect" title="" href="#"><img width="370" height="190" alt="" src="http://placehold.it/370x190"></a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Girl On Beach<small>Enjoy, Sea</small></h4>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>