<section id="content">
    <div class="container">
        <div id="main">
            <div class="large-block">
                <div class="travelo-box">
                    <div class="overflow-hidden">
                        <div class="services column-5-no-margin">
                            <article class="icon-box style9">
                                <i class="soap-icon-slider"></i>
                                <h5 class="box-title">Powerful Sliders</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                            <article class="icon-box style9">
                                <i class="soap-icon-search"></i>
                                <h5 class="box-title">Unique Search Layouts</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                            <article class="icon-box style9">
                                <i class="soap-icon-stories"></i>
                                <h5 class="box-title">Tons of Shortcodes</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                            <article class="icon-box style9">
                                <i class="soap-icon-flexible"></i>
                                <h5 class="box-title">Flexible Layouts</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                            <article class="icon-box style9">
                                <i class="soap-icon-passenger"></i>
                                <h5 class="box-title">Inflight Comfort</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                            <article class="icon-box style9">
                                <i class="soap-icon-adventure"></i>
                                <h5 class="box-title">Travel Guide Page</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                            <article class="icon-box style9">
                                <i class="soap-icon-check"></i>
                                <h5 class="box-title">Travel Ideas</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                            <article class="icon-box style9">
                                <i class="soap-icon-baggage-status"></i>
                                <h5 class="box-title">Complete Package</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                            <article class="icon-box style9">
                                <i class="soap-icon-photogallery"></i>
                                <h5 class="box-title">Photo Gallery</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                            <article class="icon-box style9">
                                <i class="soap-icon-conference"></i>
                                <h5 class="box-title">Travel Stories</h5>
                                <p>Lorem Ipsum is simply dumy typesetting industry.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-block">
                <div class="row image-box style4">
                    <div class="col-sm-4">
                        <article class="box">
                            <figure>
                                <a class="hover-effect" href="#" title=""><img src="http://placehold.it/370x172" alt="" width="370" height="172" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Get Attractions</h4>
                                <a href="#" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="box">
                            <figure>
                                <a class="hover-effect" href="#" title=""><img src="http://placehold.it/370x172" alt="" width="370" height="172" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Travel Hot Deals</h4>
                                <a href="#" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="box">
                            <figure>
                                <a class="hover-effect" href="#" title=""><img src="http://placehold.it/370x172" alt="" width="370" height="172" /></a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Travelers Stories</h4>
                                <a href="#" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="large-block">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Why Choose Us?</h2>
                        <div class="tab-container style1 box">
                            <ul class="tabs">
                                <li class="active"><a href="#unlimited-layouts" data-toggle="tab">Unlimited Layouts</a></li>
                                <li><a href="#design-inovation" data-toggle="tab">Design Inovation</a></li>
                                <li><a href="#best-support" data-toggle="tab">Best Support</a></li>
                                <li><a href="#8-sliders" data-toggle="tab">8 sliders</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="unlimited-layouts">
                                    <h4>Check Complete Layouts</h4>
                                    <p>Proin eget libero vel nunc cursus mollis ac eget sapien. Aenean porttitor euismod leo sed ultrices. Ut porta iaculis lorem ut placerat. Morbi non vulputate turpis. Aenean a tempor nulla. Maecenas nec pharetra felis, eget varius orci. Mauris vehicula, elit nec tincidunt mattis, nisi velit dignissim libero vel commodo eros lectus vel leo. Donec condimentum suscipit laoreet. Proin scelerisque mattis tristique.odio vel aliquam volutpat. in euismod sem lectus. ligula vehicula enenatis semper.</p>
                                    <a href="#" class="button pull-right">MORE</a>
                                </div>
                                <div class="tab-pane fade" id="design-inovation">
                                    
                                </div>
                                <div class="tab-pane fade" id="best-support">
                                    
                                </div>
                                <div class="tab-pane fade" id="8-sliders">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>What They Say?</h2>
                        <div class="testimonial style1">
                            <ul class="slides ">
                                <li>
                                    <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                                    <div class="author clearfix">
                                        <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                        <h5 class="name">Jessica Brown<small>guest</small></h5>
                                    </div>
                                </li>
                                <li>
                                    <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                                    <div class="author clearfix">
                                        <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                        <h5 class="name">Lisa Kimberly<small>guest</small></h5>
                                    </div>
                                </li>
                                <li>
                                    <p class="description">This is the 3rd time I’ve used Travelo website and telling you the truth their services are always realiable and it only takes few minutes to plan and finalize your entire trip using their extremely fast website and up to date listings. I’m super excited about my next trip to Paris.</p>
                                    <div class="author clearfix">
                                        <a href="#"><img src="http://placehold.it/270x270" alt="" width="74" height="74" /></a>
                                        <h5 class="name">Jessica Brown<small>guest</small></h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-block">
                <h2>Our Investors Relations</h2>
                <div class="investor-slideshow image-carousel style2 investor-list box" data-animation="slide" data-item-width="170" data-item-margin="30">
                    <ul class="slides">
                        <li>
                            <div class="travelo-box">
                                <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="travelo-box">
                                <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="travelo-box">
                                <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="travelo-box">
                                <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="travelo-box">
                                <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="travelo-box">
                                <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section global-map-area parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon-box style10">
                        <i class="soap-icon-recommend"></i>
                        <small>travel is</small>
                        <h4 class="box-title">100% Original Theme</h4>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box style10">
                        <i class="soap-icon-insurance"></i>
                        <small>We are providing you</small>
                        <h4 class="box-title">Custom Travel Icons Pack</h4>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box style10">
                        <i class="soap-icon-anchor"></i>
                        <small>Fully customizeable</small>
                        <h4 class="box-title">Dashboard Included</h4>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>