<div class="pull-left col-sm-12 confirm-input">
  <h4><%= f.select :answer_text, options_for_select(answer.question.options, answer.answer_text.present? ? answer.answer_text : answer.question.default_value), {include_blank: answer.question.include_blank?}, class: 'col-sm-12' %></h4>
</div>