<div class="image-section">
  <div class="container">
    <div class="image-container col-sm-4">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/webtriptocuba/banner_hotel_nacional.jpg', size: '342x258', class: "animated") %>
    </div>
    <div class="col-xs-6">
      <h2 class="m-title animated searchoteltitle" data-animation-type="fadeInDown" data-animation-duration="1.5">
        Tell us where you would like to go.<br/>2,000+ Hotel, Resorts and Home Rentals Available!
      </h2>
    </div>
    <div class="col-xs-6 searchotelform">
      <form method="post" action="hotel-list-view.html">
        <div class="row">
          <div class="col-lg-12">
            <input type="text" class="input-text input-large full-width" value="" placeholder="Enter destination or hotel name"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <button class="full-width btn-large">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>