<div class="image-section-food">
  <div class="container">
    <div class="row">
      <div class="text-left title_food">
        <p>Aqui va el banner de cruceros</p>

        <p class="subtitle">etc etc</p>

        <div class="col-md-2">
          <button class="full-width">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>