<div class="image-section-food">
  <div class="container">
    <div class="row">
      <div class="food-content">
        <div class="row animated" data-animation-type="fadeInDown" data-animation-duration="1.5">
          <div class="col-md-12">
            <p class="title_food">Find the best place to eat,<br>drink and dance in Cuba</p>

            <p class="subtitle uppercase">More than 600 restaurants & bars</p>
          </div>
          <div class="col-md-2">
            <a class=" button full-width reaturants_banner_button">Search</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>