<div class="image-section-food">
  <div class="container">
    <div class="row">
      <div class="text-left title_food">
        <p>Find the best place to eat,<br>drink and dance in Cuba</p>

        <p class="subtitle">More than 600 restaurants & bars</p>

        <div class="col-md-2">
          <button class="full-width">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>