<div class="image-section-cruises">
  <div class="container">
    <div class="row animated" data-animation-type="fadeInDown" data-animation-duration="1.5">
      <div class="text-left title_cruises">
       <div class="row">
        <p>Exclusive Cruises</p>

        <p class="subtitle uppercase">Packages to Cuba</p>
      </div>
        <div class="row">

          <a href="" class="button cruisebutton">Book Now</a>

        </div>
      </div>
    </div>
  </div>
</div>