<div class="image-section">
  <div class="container">
    <div class="row animated" data-animation-type="fadeInDown" data-animation-duration="1.5">
      <div class="col-md-8">
        <h2 class=" searchoteltitle">
          Tell us where you would like to go,<br/><span>+1000 Home Rentals<br/> and Villas Available!</span>
        </h2>
      </div>
      <div class="col-md-4 searchotelform">
        <form method="post" action="hotel-list-view.html">
          <div class="row">
            <div class="col-md-8">
              <input type="text" class="input-text input-large full-width" value="" placeholder="Enter destination or hotel name"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button class="full-width">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>