<footer id="footer">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <h2>Discover</h2>
          <ul class="discover triangle hover row">
            <li class="col-xs-6"><a href="#">Safety</a></li>
            <li class="col-xs-6"><a href="#">About</a></li>
            <li class="col-xs-6"><a href="#">Travelo Picks</a></li>
            <li class="col-xs-6"><a href="#">Latest Jobs</a></li>
            <li class="active col-xs-6"><a href="#">Mobile</a></li>
            <li class="col-xs-6"><a href="#">Press Releases</a></li>
            <li class="col-xs-6"><a href="#">Why Host</a></li>
            <li class="col-xs-6"><a href="#">Blog Posts</a></li>
            <li class="col-xs-6"><a href="#">Social Connect</a></li>
            <li class="col-xs-6"><a href="#">Help Topics</a></li>
            <li class="col-xs-6"><a href="#">Site Map</a></li>
            <li class="col-xs-6"><a href="#">Policies</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h2>Travel News</h2>
          <ul class="travel-news">
            <li>
              <div class="thumb">
                <a href="#">
                  <img width="63" height="63" alt="" src="http://placehold.it/63x63">
                </a>
              </div>
              <div class="description">
                <h5 class="s-title"><a href="#">Amazing Places</a></h5>

                <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                <span class="date">25 Sep, 2013</span>
              </div>
            </li>
            <li>
              <div class="thumb">
                <a href="#">
                  <img width="63" height="63" alt="" src="http://placehold.it/63x63">
                </a>
              </div>
              <div class="description">
                <h5 class="s-title"><a href="#">Travel Insurance</a></h5>

                <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                <span class="date">24 Sep, 2013</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h2>Mailing List</h2>

          <p>Sign up for our mailing list to get latest updates and offers.</p>
          <br>

          <div class="icon-check">
            <input type="text" placeholder="your email" class="input-text full-width">
          </div>
          <br>
          <span>We respect your privacy</span>
        </div>
        <div class="col-sm-6 col-md-3">
          <h2>About Travelo</h2>

          <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massaidp nequetiam lore elerisque.</p>
          <br>
          <address class="contact-details">
            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
            <br>
            <a class="contact-email" href="#">help@travelo.com</a>
          </address>
          <ul class="social-icons clearfix">
            <li class="twitter">
              <a data-toggle="tooltip" href="#" title="" data-original-title="twitter"><i class="soap-icon-twitter"></i></a>
            </li>
            <li class="googleplus">
              <a data-toggle="tooltip" href="#" title="" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a>
            </li>
            <li class="facebook">
              <a data-toggle="tooltip" href="#" title="" data-original-title="facebook"><i class="soap-icon-facebook"></i></a>
            </li>
            <li class="linkedin">
              <a data-toggle="tooltip" href="#" title="" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a>
            </li>
            <li class="vimeo">
              <a data-toggle="tooltip" href="#" title="" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a>
            </li>
            <li class="dribble">
              <a data-toggle="tooltip" href="#" title="" data-original-title="dribble"><i class="soap-icon-dribble"></i></a>
            </li>
            <li class="flickr">
              <a data-toggle="tooltip" href="#" title="" data-original-title="flickr"><i class="soap-icon-flickr"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom gray-area">
    <div class="container">
      <div class="logo pull-left">
        <a title="Travelo - home" href="index.html">
          <%= image_tag 'logo.png' %>
        </a>
      </div>
      <div class="pull-right">
        <a data-animation-type="bounce" class="animated bounce" href="#" id="back-to-top" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
      </div>
      <div class="copyright pull-right">
        <p>&copy; 2014 Travelo</p>
      </div>
    </div>
  </div>
</footer>