<footer id="footer">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <h2>About us</h2>
          <ul class="leftfootercolum">
            <li><a href="#">What do we do?</a></li>
            <li><a href="#">Who we are?</a></li>
            <li><a href="#">What do we offer?</a></li>
            <li><a href="#">Payment Policies</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h2>Our Products</h2>
          <ul class="leftfootercolum">
            <li><a href="#">Flights</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Homes & Apartments</a></li>
            <li><a href="#">Cruises</a></li>
            <li><a href="#">Restaurants</a></li>
            <li><a href="#">Tours</a></li>
            <li><a href="#">Package Deals</a></li>
            <li><a href="#">Rent a Car</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h2>Destinations</h2>
          <ul class="leftfootercolum">
            <li><a href="#">Pinar del Rio</a></li>
            <li><a href="#">Valle de Vinales</a></li>
            <li><a href="#">La Habana</a></li>
            <li><a href="#">Varadero</a></li>
            <li><a href="#">Cienfuegos</a></li>
            <li><a href="#">Trinidad</a></li>
            <li><a href="#">Cayo Coco</a></li>
            <li><a href="#">Cayo Guillermo</a></li>
            <li><a href="#">Cayo Largo</a></li>
            <li><a href="#">Camaguey</a></li>
            <li><a href="#">Jardines del Rey</a></li>
            <li><a href="#">Santiago de Cuba</a></li>
            <li><a href="#">Baracoa</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h2>Company</h2>
          <ul class="leftfootercolum">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Costumer Service</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Technical Support</a></li>
            <li><a href="#">Team</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h2>Find Us Online</h2>
          <ul class="rigthfootercolum">
            <li><a href="#">Like us on Facebook</a></li>
            <li><a href="#">Follow us on Instagram</a></li>
            <li><a href="#">Follow us on Twitter</a></li>
            <li><a href="#">TripAdvisor</a></li>
            <li><a href="#">Flickr</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>