<section class="slideshow-bg slider">
  <div id="slideshow">
    <div class="flexslider">
      <ul class="slides">
        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 1;">
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_habana1.jpg');"></div>
        </li>
        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 1;">
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_baracoa.jpg');"></div>
        </li>
        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 1;">
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_habana2.jpg');"></div>
        </li>
        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 1;">
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_santiago.jpg');"></div>
        </li>
        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 1;">
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_trinidad.jpg');"></div>
        </li>
        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 1;">
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_varadero.jpg');"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div id="main">
      <%= render partial: 'spree/shared/general_search_box' %>
    </div>
  </div>
</section>
