<section class="slideshow-bg slider">
  <div id="slideshow">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_pinar.jpg');"></div>
        </li>
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_habana2.jpg');"></div>
        </li>
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_santiago.jpg');"></div>
        </li>
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_trinidad.jpg');"></div>
        </li>
        <li>
          <div class="slidebg" style="background-image: url('https://s3-us-west-2.amazonaws.com/webtriptocuba/slider_home_varadero.jpg');"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div id="main">
      <%= render partial: 'spree/shared/general_search_box' %>
    </div>
  </div>
</section>
<script type="text/javascript">
    tjq(".flexslider").flexslider({
        animation: "fade",
        controlNav: false,
        animationLoop: true,
        directionNav: false,
        slideshow: true,
        slideshowSpeed: 5000
    });
</script>

