<div class="topnav hidden-xs">
  <div class="container">
    <ul class="quick-menu pull-left">
      <li><a href="#">MY ACCOUNT</a></li>
      <li class="ribbon">
        <a href="#">English</a>
        <ul class="menu mini">
          <li class="active"><a href="#" title="English">English</a></li>
          <li><a href="#" title="Español">Español</a></li>
          </ul>
      </li>
    </ul>
    <ul class="quick-menu pull-right">
      <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
      <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>
      <li class="ribbon currency">
        <a href="#" title="">USD</a>
        <ul class="menu mini">
          <li class="active"><a href="#" title="USD">USD</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>