<script id="hotels-block" type="text/html">
  <div class="row image-box hotel listing-style2">
    {{#items}}
    <div class="col-sms-6 col-sm-6 col-md-4">
      <article class="box">
        <figure>
          <div title="{{title}}" class="hover-effect">
            <img id="product-gallery-{{id}}" src="{{image}}"/>
          </div>
        </figure>
        <div class="details">
          <a title="View all" href="hotel-detailed.html" class="pull-right button uppercase">select</a>
          <h4 class="box-title">
            <a href="#" title="{{title}}">{{name}}</a>
          </h4>
          <label class="price-wrapper">
            <span class="price-per-unit">{{price}}</span>avg/night
          </label>
        </div>
      </article>
    </div>
    {{/items}}
  </div>
</script>
