<script id="products-view-as-list" type="text/html">
  <div class="products-list listing-style3 hotel">
    {{#items}}
    <article class="box">
      <figure class="col-sm-5 col-md-4">
        <div id="product-gallery-{{id}}" title="{{title}}" class="hover-effect">
          <img src="{{image}}"/>
        </div>
      </figure>
      <div class="details col-sm-7 col-md-8">
        <div>
          <div>
            <h4 class="box-title">
              <a href="#details" class="product-details" title="View all details" data-item="{{id}}">{{name}}</a>
              <small>
                <i class="soap-icon-departure yellow-color"></i>
                <span>{{destination.name}}</span>
              </small>
            </h4>
            <div class="amenities">
              <i class="soap-icon-wifi circle"></i>
              <i class="soap-icon-fitnessfacility circle"></i>
              <i class="soap-icon-fork circle"></i>
              <i class="soap-icon-television circle"></i>
            </div>
          </div>
          <div>
            <div class="five-stars-container">
              <span class="five-stars" style="width: {{_stars_}}%"></span>
            </div>
            <span class="review">270 reviews</span>
          </div>
        </div>
        <div>
          <p>{{description}}</p>
          <div>
            <span class="price"><small>AVG/NIGHT</small>{{price}}</span>
            <a href="#details" class="product-details button btn-small full-width text-center"
               title="View all details" data-item="{{id}}">SELECT</a>
          </div>
        </div>
      </div>
    </article>
    {{/items}}
  </div>
</script>