<script id="search-result-section" type="text/html">
  <div class="sidebar col-sm-3">
    <%= render partial: 'spree/hotels/filter' %>
  </div>

  <div class="sidebar col-sm-9">
    <%= render partial: 'spree/hotels/sort_by' %>
    <div id="search-result-items"></div>
  </div>
</script>